/******
Fonts
*******/
@import 'fonts.css';

/******
Global
*******/
*, h1 {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
}
a, a:hover {text-decoration: none!important;}
a:focus, input:focus, button:focus, select:focus, textarea:focus, .slick-slide {outline: none;}

/***************
   TIPOGRAFÍA 
***************/
.titles-big {
  font-family: 'montserratextrabold';
  font-size: 3.125em;
}
.titles-int {font-family: 'montserratbold';}
.titles-black {font-family: 'Montserrat Black';}
.sem-bold {font-family: 'montserratsemibold';}
.p-internas {
   font-family: 'montserratregular';
   color: #434850;
   line-height: 1.5;
}
.text-otros {
  font: 0.875em 'montserratregular';
  line-height: 1.5;
}

.h3 {
  font: 1.875em 'montserratbold';
  line-height: 1.25;
  margin: 0 0 1em 0;
}

.h3-big {
  font: 2.84125em 'montserratextrabold';
  line-height: 1.25;
  margin: 0 0 1em 0;
}

.h4 {
  font: 0.875em 'montserratbold';
  line-height: 1;
}

.h4-otros {
  font: 1.125em 'montserratbold';
  line-height: 1;
}

.h5 {
  font: 0.875em 'montserratextrabold';
  line-height: 1;
  margin-bottom: 1.5em;
}

.sub-title {display: flex;}
.sub-title i {font-size: 2em;}

.text-center {text-align: center;}
.text-may {text-transform: uppercase;}

/***********
   COLORS
***********/
.color-primary {color: #e30613;}
.color-gray {
   /* color: #7b7f843b; */
   color: rgb(67,72,80);
}
.color-white {color: #fff;}
.color-internas {color: #434850;}

.bg-primary {background-color: #e30613;}
.bg-redDark {background-color: #b90610;}
.bg-white {background-color: #fff;}
.bg-gray {background-color: #7b7f84;}

/***********
   BUTTONS
***********/
.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font: 1.1em 'montserratbold';
  padding: .65rem 1.25rem;

  border: 0;
  cursor: pointer;
  transition: 0.5s all ease;
  overflow: hidden;
}
.btn i[class^="icon"] {margin-right: 8px;}
.btn:hover .icon-carrito {animation: 1s shake 1;}

/* Buttons */
.btn-red {
  color: white;
  background-color: #e30613;
}
.btn-red:hover {
  color: white;
  background-color: #b90610;
  /*transform: scale(1.025);*/
}
.btn-send {
  width: 59.4%;
  height: 2.6em;
  font-size: 18px;
  cursor: pointer;
  border: 0;
  transition: .3s;
}

/***********
   ICONS
***********/
.icon-adjuntar:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-atenc-cole:before {
  content: "\e903";
}
.icon-calendar:before {
  content: "\e904";
}
.icon-cambios:before {
  content: "\e905";
}
.icon-carrito:before {
  content: "\e906";
}
.icon-check-mark:before {
  content: "\e907";
}
.icon-como-comprar:before {
  content: "\e908";
}
.icon-compl-form:before {
  content: "\e909";
}
.icon-comprobante:before {
  content: "\e90a";
}
.icon-contacto:before {
  content: "\e90b";
}
.icon-credito-coorporativo:before {
  content: "\e90c";
}
.icon-delivery:before {
  content: "\e90d";
}
.icon-dep-bancario:before {
  content: "\e90e";
}
.icon-email:before {
  content: "\e90f";
}
.icon-error-circle:before {
  content: "\e910";
}
.icon-facebook:before {
  content: "\e911";
}
.icon-formas-de-pago:before {
  content: "\e912";
}
.icon-honestidad:before {
  content: "\e913";
}
.icon-innovacion:before {
  content: "\e914";
}
.icon-instagram:before {
  content: "\e915";
}
.icon-libro-reclamos:before {
  content: "\e916";
}
.icon-libro-reclamosF:before {
  content: "\e917";
}
.icon-linkedin:before {
  content: "\e918";
}
.icon-list:before {
  content: "\e919";
}
.icon-login:before {
  content: "\e91a";
}
.icon-logo:before {
  content: "\e91b";
}
.icon-lupa:before {
  content: "\e91c";
}
.icon-message-color .path1:before {
  content: "\e91d";
  color: rgb(224, 0, 6);
}
.icon-message-color .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-met-pago:before {
  content: "\e91f";
}
.icon-nuestros-servicios:before {
  content: "\e920";
}
.icon-ofertas:before {
  content: "\e921";
}
.icon-pedidos:before {
  content: "\e922";
}
.icon-pencil:before {
  content: "\e923";
}
.icon-phone:before {
  content: "\e924";
}
.icon-plataforma-web:before {
  content: "\e925";
}
.icon-pol-entrega:before {
  content: "\e926";
}
.icon-polit-priv:before {
  content: "\e927";
}
.icon-preg-frecuentes:before {
  content: "\e928";
}
.icon-product-destacados:before {
  content: "\e929";
}
.icon-puntualidad:before {
  content: "\e92a";
}
.icon-responsabilidad:before {
  content: "\e92b";
}
.icon-select-product:before {
  content: "\e92c";
}
.icon-serv-personalizado:before {
  content: "\e92d";
}
.icon-sobre:before {
  content: "\e92e";
}
.icon-sucursales:before {
  content: "\e92f";
}
.icon-tachito:before {
  content: "\e930";
}
.icon-triangle:before {
  content: "\e931";
}
.icon-truck:before {
  content: "\e932";
}
.icon-twitter:before {
  content: "\e933";
}
.icon-ubication:before {
  content: "\e934";
}
.icon-vales:before {
  content: "\e935";
}
.icon-youtube:before {
  content: "\e936";
}

 
/***************
   BOOSTRAP V2
***************/
.container {
   width: 83%;
}
.container-custom {
    position: relative;
    padding: 0 1em;
    margin: 0 auto;
}
.c-425 {max-width: 425px;}
.c-768 {max-width: 768px;}
.c-992 {max-width: 992px;}
/***********
   CLASSES  
***********/
.float-center {
   float: none;
   margin: auto;
}
.float-right{
  float: right;
}

.section {
  position: relative;
  padding: 2em 0;
  overflow: hidden;
}

.section-slider {
  position: relative;
  padding: 2em 0 4em;
  overflow: hidden;
}

.section-otros {
  position: relative;
  padding: 6em 0;
  overflow: hidden;
}

.img-responsive {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.img-cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col-2 {
  width: 49%;
  margin-bottom: 1em;
}
.col-3 {
  width: 32%;
  margin-bottom: 1em;
}

.padd-t-main {
  padding-top: 12.4em;
}
.pd-x-0 {
  padding-left: 0;
  padding-right: 0;
}
.mg-b-banner {
  margin-bottom: 5em;
}
.mb-0 {
  margin-bottom: 0;
}
.d-flex {
  display: flex;
}
.d-alig-flex {
  display: flex;
  align-items: center;
}
.d-flex-end {
  display: flex;
  justify-content: flex-end;
}
.flex-column {
  flex-direction: column;
}
.d-flex-just {
  display: flex;
  justify-content: center;
}

.bg-forma {
  background-image: url('../images/textura-03.jpg');
  background-repeat: repeat;
}
.font-s-p1 {
  font-size: 1.1em;
}

/***********
COMPONENTS
***********/
/* Banner */
.banner {
  width: 100%;
  height: 39vh;
  position: relative;
}
.banner::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}
.banner .content-ttl-banner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 13%;
  text-align: center;
}
.banner .content-ttl-banner .icon-banner {
  font-size: 5em;
}

/* Accordion */
.accordion {
  margin-bottom: 3em;
}
.accordion .accordion-heading {
  position: relative;
  border-top: solid 1px rgba(67, 72, 80, .2);
  color: #434850;
  width: 100%;
  display: block;
  padding: 1.7em 1em 1.7em 0em;
  cursor: pointer;
  font-size: 1.12em;
}

.accordion .accordion-heading .flecha-accord {
  font-size: 1.8em;
  position: absolute;
  right: 1%;
  top: 29px;
  transition: all 0.3s ease-in-out;
  transform: rotate(-90deg);
  font-size: 1.15em;
}

.accordion .accordion-heading.active,
.accordion .accordion-heading:hover {
  color: #e30613;
  opacity: 1;
}

.accordion .accordion-heading.active span,
.accordion .accordion-heading:hover span {
  color: black;
}

.accordion .accordion-heading.active .flecha-accord,
.accordion .accordion-heading:hover .flecha-accord {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordion li {
  position: relative;
  margin-bottom: 0;
}

.accordion li .accordion-content {
  display: none;
  padding: 0 0 1.5em 0em;
  width: 93%;
}

.accordion li .accordion-content.active {
  display: block;
}
/* card repeat */
.content-card-repeat {position: relative;}
.content-card-repeat .content-icon-card {
  background: #fff;
  height: 11em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.content-card-repeat .content-icon-card .icon-tabs {
  font-size: 5em;
  color: #434850;
  opacity: .8;
  z-index: 1;
  transition: .2s;
}

.content-card-repeat .ttl-tab,
.content-card-repeat .ttl-tab-op1{
  opacity: .65;
  font-size: 1.12em;
  margin-bottom: 0;
  transition: .2s;
  line-height: 1.4;
}
.content-card-repeat .ttl-tab-op1 {
  opacity: 1;
}
.content-card-repeat .p-internas {
  margin-top: 1em;
}
.content-card-repeat .content-icon-card:before {
  position: absolute;
  content: "";
  height: 1.5%;
  width: 100%;
  background-color: #e30613;
  bottom: 0;
  transition: height .3s;
  z-index:0 ;
}

/* Form */
.form .form__wrapper {
  position: relative;
  z-index: 0;
  display: inline-block;
  margin-bottom: 1em;
  vertical-align: top;
}
.form .form__wrapper--submit {
  padding: 1.6rem 0;
}
.form .form__input,
.form .form__select,
.form .form_textarea {
  display: block;
  position: relative;
  height: 2.4em;
  padding: 0.8em 0.125rem 0 0.8em;
  width: 100%;
  box-sizing: border-box;
  color: gray;
  font-size: 1.1em;
  outline: 0;
  border: none;
  font-family: 'montserratregular';
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -moz-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -o-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 94%, #e30613 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 94%, #e30613 4%);
  background-position: -999999px 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.form .form__select {
  font-size: .95rem;
  padding: 0.1em 0.125rem 0 0.75em;
  cursor: pointer;
}
.form .form__input:required,
.form .form_textarea:required {
  box-shadow: none;
}
.form .form__input.error,
.form .form_textarea.error {
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -moz-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -o-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 94%, red 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 94%, red 4%);
  background-position: 0 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.form .form__input:focus,
.form .form_textarea:focus {
  background-position: 0 0;
  color: #444;
}
.form .form_textarea {
  height: 8rem;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 98%, #e30613 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 98%, #e30613 4%);
  background-position: -1068px 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.form .form_textarea.error {
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -moz-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -o-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 98%, red 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 98%, red 4%);
  background-position: 0 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.form .form__label {
  position: absolute;
  top: 0.75em;
  left: 0;
  padding-left: 1em;
  z-index: 1;
  color: #434850;
  font-size: .95em;
  transition: all 0.28s ease;
  font-weight: normal;
  width: 100%;
  font-family: 'montserratregular';
}
.form .form__label-content {
  position: absolute;
  -webkit-transition: all 0.28s ease;
  -o-transition: all 0.28s ease;
  transition: all 0.28s ease;
}
.form .form__input:focus ~ .form__label .form__label-content,
.form .form_textarea:focus ~ .form__label .form__label-content,
.form .form--filled .form__label-content {
  font-size: 0.75em;
  top: -0.5em;
  color: #e30613;
  -webkit-transform: translate3d(0, -65%, 0);
  -moz-transform: translate3d(0, -65%, 0);
  transform: translate3d(0, -65%, 0);
}
.form label.error {
  display: none !important;
}
.form .txt-ar {
  height: 90%;
}
.form__wrapper .bg-input {
  background-color: #fff;
}
.checkbox {padding: 1.2em 0;}
.checkbox .label-pol {
  position: relative;
  cursor: pointer;
  padding-left: 2em;
  text-align: left;
  color: #434850;
  display: block;
  font-size: 0.8125em;
  font-family: 'montserratregular';
}

.checkbox input,
.form-radio input {
  width: auto;
  opacity: 0.01;
  position: absolute;
  left: 0;
}

.checkbox .helper {
  color: blue;
  position: absolute;
  top: 0px;
  left: 0;
  width: 1.3em;
  height: 1.3em;
  z-index: 0;
  border-radius: 0.0625rem;
  bottom: 0;
  margin: auto;
  background-color: #fff;
}

.checkbox .helper::before,
.checkbox .helper::after {
  position: absolute;
  height: 0;
  width: 0.2rem;
  background-color: #e30613;
  display: block;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  border-radius: 0.25rem;
  content: "";
  -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
  -o-transition: opacity 0.28s ease, height 0s linear 0.28s;
  transition: opacity 0.28s ease, height 0s linear 0.28s;
  opacity: 0;
}

.checkbox .helper::before {
  top: 1em;
  left: 0.5em;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.checkbox .helper::after {
  top: 0.55em;
  left: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.checkbox label:hover .helper {color: pink;}
.checkbox input:checked ~ .helper {color: pink;}
.checkbox input:checked ~ .helper::after,
.checkbox input:checked ~ .helper::before {
  opacity: 1;
  -webkit-transition: height 0.28s ease;
  -o-transition: height 0.28s ease;
  transition: height 0.28s ease;
}

.checkbox input:checked ~ .helper::after {height: 0.6em;}

.checkbox input:checked ~ .helper::before {
  height: 1.7em;
  -webkit-transition-delay: 0.28s;
  -o-transition-delay: 0.28s;
  transition-delay: 0.28s;
}

.checkbox + .checkbox {margin-top: 1rem;}

/* Form - File */
.input_file {
  position: relative;
  display: inline-block;
  padding: .5em 2em;
  background-color: #434850;
}

.file_label {
  width: 100%;
  height: 100%;

  margin-bottom: 0;
  text-align: center;
  color: #fff;
}

.file_label span {font: 0.9375em 'montserratregular';}
.file_label span .icon-adjuntar {
  font-size: 1.2em;
  margin-right: 0.25em;
}

#file {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
  cursor: pointer;
}

/*
.wrap-form {
  width: 40%;
  margin: 0 auto;
  padding: 2em;
  border: 1px solid #a0a0a0;
}

.form {
  display: flex;
  flex-direction: column;
}
.form-group {
  position: relative;
  margin-bottom: 1em;
}
.form-grid4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.form-group .icon {
  position: absolute;
  left: 30px;
  top: 22px;

  font-size: 1.25em;
  transform: translate(-50%, -50%);
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 12px 16px;
  font: 0.8125em 'Montserrat Medium';
  color: #434850;
  background-color: #fff;
  border: 1px solid #c4c4c4;
}

.form-group input[type=text]:focus,
.form-group select[type=text]:focus,
.form-group textarea[type=text]:focus {outline: none;}

.form-group select {cursor: pointer;}

label {
  position: absolute;
  top: 0;

  font: 0.8125em 'Montserrat Medium';
  margin: 12px;
  padding: 0 8px;
  background-color: #fff;
  transition: top .25s ease-in-out, 
              color .25s ease-in-out,
              font-size .25s ease-in-out;
}
.activeLabel {
  top: -10px;
  left: 0;

  font-size: 0.7125em;
  color: #e30613;
  font-weight: bold;
  background-color: #fff;
}*/

.radio-flex {
  display: flex;
  flex-wrap: wrap;
}
.radio-flex:not(:first-child) {margin-bottom: 1em;}

.radio-inline {
  display: inline-flex;
  margin-bottom: 1em;
}
.radio [type="radio"]:checked,
.radio [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.radio [type="radio"]:checked + label,
.radio [type="radio"]:not(:checked) + label {
  position: relative;

  display: inline-block;
  padding-left: 35px;
  
  color: #434850;
  font: 1em 'montserratbold';
  line-height: 30px;

  cursor: pointer;
}
.radio [type="radio"]:checked + label:before,
.radio [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;

  width: 26px;
  height: 26px;

  border: 1px solid #434850;
  border-radius: 100%;
  background-color: #fff;
}
.radio [type="radio"]:checked + label:after,
.radio [type="radio"]:not(:checked) + label:after {
  content: '';
  position: absolute;
  left: 6px;
  top: 6px;

  width: 16px;
  height: 16px;

  background-color: #e30613;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.radio [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.radio [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.radio-inline .radio:not(:first-child) {margin-left: 3em;}

/* Radio Color */
.color-inline .radio-color {display: inline-block;}
.color-inline input[type="radio"] {display: none;}
.color-inline input[type="radio"] + label span {
  display: inline-block;
  width: 30px;
  height: 30px;

  cursor: pointer;

  border-radius: 50%;
  border: 4px solid #FFFFFF;
  
  transition: all .5s;
}
.color-inline input[type="radio"]#color-amarillo + label span {background-color: #fed13c;}
.color-inline input[type="radio"]#color-rojo + label span {background-color: #ff1027;}
.color-inline input[type="radio"]#color-verde + label span {background-color: #45c454;}
.color-inline input[type="radio"]#color-gris + label span {background-color: #949494;}
.color-inline input[type="radio"]#color-morado + label span {background-color: #a163ef;}
.color-inline input[type="radio"]#color-azul + label span {background-color: #326bfc;}
.color-inline input[type="radio"]:checked + label span {box-shadow: 0px 0px 0px 1px rgba(67, 72, 80, 0.5);}

/* Tramado */
.tramado {
  background-image: url('../images/textura.jpg');
  background-repeat: repeat;
}

/***********
ANIMATIONS
***********/
.shake {
  animation: shake 1.5s infinite;
  /*animation-name: shake;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: infinite;*/
}
.shakeHover:hover {
  display: inline-block;
  animation: shake 1.25s 1;
}
@keyframes shake {
  15% {transform: translate(-20%);}
  30% {transform: translate(15%);}
  45% {transform: translate(-10%);}
  60% {transform: translate(5%);}
  75% {transform: translate(-3%);}
}

@keyframes float {
  0% {transform: translatey(0px);}
  50% {transform: translatey(-8px);}
  100% {transform: translatey(0px);}
}

/*------------------------------------*\
  #INDEX
\*------------------------------------*/

/* HEADER */
.header {
  position: relative;
  transition: .5s all;
  z-index: 3;
}
.header-fixed {
  position: fixed;
  width: 100%;
}

.main-headerFixed {padding-top: 10em;}/*189.3px*/
/*.z-header {z-index: auto;}*/
.header--wrapper {position: relative;}

/* Head */
.header .head {
  position: relative;
  display: flex;
}

.head--left,
.head--right {
  display: flex;
  align-items: baseline;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 45%;
  padding-top: .5em;
}

/* Head - Left */
#menu-responsive {display: none;}

/* social */
.social {
  display: flex;
  padding-right: 1em;
}
.social a {
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  transition: .5s all;
}
.social a i {font-size: 1em;}

/* phone - email */
.phone, .email {
  display: flex;
  align-items: center;
  padding: 0 1em;
  font-family: 'montserratbold';
}
.phone {border-left: 1px solid rgba(255, 255, 255, 0.4);}
.phone a,
.email a {
  display: flex;
  align-items: center;
}
.phone span,
.email span {margin-left: 5px;}
.phone span {font-size: 1.125em;/*1.125em*/}
.email span {font-size: 0.9375em;/*0.8375em*/}

/* Head - Center */
.head--center {
  position: relative;
  /*position: absolute;
  left: 50%;
  top: 50%;

  width: 12%;
  transform: translate(-50%, -30%);*/
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 10%;
  transition: .5s all;
  z-index: 1;
}
.head--center .logo a {display: block;}

/* Head - Right */
.head--right {justify-content: flex-end;}

.catalogo {border-right: 1px solid rgba(255, 255, 255, 0.4);}
.catalogo--item {
  font: 0.9375em 'montserratbold';
  padding: .5em 1em;
  transition: .5s all;
}

.login {padding: 0 1em;}
.login, .shopping-cart {font-size: 1.5em;}
.login .icon-login {font-size: 1.25em;}

.shopping-cart {
  position: relative;
  z-index: 2;
}
.shopping-cart .cantidad {
  position: absolute;
  top: -2px;
  right: -7px;

  width: 15px;
  height: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  font: 0.441875em 'montserratbold'/*0.741875em*/;
  border-radius: 50%;
}
.shopping-cart .icon-carrito {font-size: 1.45em;}

.carrito {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;

  width: 350px;

  padding: 1em;
  box-shadow: 0px 0px 10px 0px rgba(2, 3, 0, 0.6);
  z-index: 3;
}

.carrito h3 {font: 1.075em 'montserratextrabold';}
.carrito p {
  font: 0.6375em 'montserratregular';
  margin-bottom: 1.25em;
}

.carrito--item {
  display: flex;
  padding: .5em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.carrito--item:first-of-type {border-top: 1px solid rgba(0, 0, 0, 0.15);}
.carrito--item__caption {
  display: flex;
  flex-wrap: wrap;
}
.carrito--item__captionBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.carrito--item__captionBox:not(:first-child) {margin-top: .5em;}

.carrito--item__caption h4 {
  margin: 0;
  font: 0.625em 'montserratregular';
  text-align: left;
}
.carrito--item__caption .tachito {
  color: rgba(0, 0, 0, 0.5);
  font-size: .75em;
  transition: .5s all;
}
.carrito--item__caption .tachito:hover {color: #e30613;}

.carrito--item__caption .amount-buy {width: 30%;}
.carrito--item__caption .amount-buy .number {
  width: 100%;
  height: 20px;
}
.carrito--item__caption .amount-buy .number .minus,
.carrito--item__caption .amount-buy .number .plus {
  padding: 0;
  font-size: 16px;
}
.carrito--item__caption .amount-buy .number input {font-size: 12px;}

.carrito--item__caption .precio {
  font: .725em 'montserratsemibold';
  margin-right: 14px;
}

.carrito--costo {
  display: flex;
  flex-wrap: wrap;
  padding: .95em .65em 0;
}
.carrito--costo__text,
.carrito--costo__precio {width: 50%;}
.carrito--costo__text .subtotal,
.carrito--costo__precio .subtotal {margin-bottom: 0.5em;}
.carrito--costo__precio .subtotal,
.carrito--costo__precio .descuentos {font-family: 'montserratsemibold';}
.carrito--costo__text .total,
.carrito--costo__precio .total {font: 1.05em 'montserratsemibold';}

.carrito--pagar {width: 100%;}
.carrito--ver {
  margin: 0 auto;
  font: 0.725em 'montserratsemibold';
  padding: 1em 0;
  transition: .5s all;
}
.carrito--ver:hover {
  color: #e30613;
}
.carrito--ver.underlineHover:after {
  bottom: 12px;
  background-color: rgba(227, 6, 19, 0.8);
}

/* Navbar */
.navbar {
  position: absolute;
  left: 0;
  top: 35%;
  right: 0;

  width: 100%;
  display: flex;
  justify-content: space-between;

  padding: 1em 0;
  transition: .5s all;
}
.navbar-left,
.navbar-right {
  width: 50%;
  display: flex;
  align-items: center;
}
.navbar-right {justify-content: flex-end;}
.navbar-otros {display: none;}

.navbar--categorias,
.navbar--item {font: 1.0625em 'montserratbold';}
.navbar--categorias {
  display: flex;
  align-items: center;
  padding: .5em 1.5em;

  border: 0;
  cursor: pointer;
}
.arrow-down {
  width: 8px;
  height: 6px;

  margin-left: 10px;
  border-top: solid 6px #e30613;
  border-left: solid 4px transparent;
  border-right: solid 4px transparent;
}
.navbar--item {
  margin: 0 .5em;
  padding: .5em 1em;
  transition: .5s all;
}

.navbar .social {display: none;}

/* Menu Hamburger */
.hamburger-menu {
  position: relative;
  width: 38px;
  height: 24px;

  transition-duration: 0.5s;
  cursor: pointer;
}
.hamburger-menu .icon {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 38px;
  height: 3px;

  transform: translate(-50%, -50%);
  background-color: #fff;
  transition-duration: 0.5s;
}
.hamburger-menu .icon:before {
  content: "";
  position: absolute;
  top: -10px;

  width: 38px;
  height: 3px;
  
  background-color: #fff;
  transition-duration: 0.5s;
}
.hamburger-menu .icon:after {
  content: "";
  position: absolute;
  top: 10px;

  width: 38px;
  height: 3px;

  background-color: #fff;
  transition-duration: 0.5s;
}
.hamburger-menu.open .icon {
  transition-duration: 0.5s;
  background: transparent;
}
.hamburger-menu.open .icon:before {transform: rotateZ(30deg) scaleX(1.1) translate(3px, 9px);}
.hamburger-menu.open .icon:after {transform: rotateZ(-30deg) scaleX(1.1) translate(3px, -9px);}

.navbar--menu {display: inherit;}
.subnavbar {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;

  background-color: #f3f4f5;
  box-shadow: 0px 0px 10px 0px rgba(2, 3, 0, 0.6);
  z-index: -1;
}

.subnavbar .subnavbar--wrapper {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subnavbar--wrapper .submenu {
  display: flex;
  padding-top: 8em;
}
.submenu-col {width: 50%;}

.subnavbar .submenu--item,
.menu-otros .submenu--item {
  display: inline-flex;
  padding: .75em 1.75em;
}
.subnavbar .submenu--item i,
.menu-otros .submenu--item i {
  margin-right: 10px;
  font-size: 2em;
}
.subnavbar .submenu--item h3,
.menu-otros .submenu--item h3 {
  margin-bottom: .25em;
  transition: .5s all;
}

.subnavbar .submenu-col:last-child {padding: 0 5em;}
.subnavbar .submenu-col:last-child h3 {margin-bottom: 0;}

.subnavbar .submenu--list {padding-left: 2em;}

.subnavbar .submenu--list__item {
  display: block;
  padding: .5em 0;
  font: 1.775em 'montserratsemibold';

  border-bottom: 1px solid rgba(145, 175, 210, 0.2);
  transition: .5s all;
}

/*.subnavbar .submenu--list__item:first-of-type {border-top: 1px solid rgba(145, 175, 210, 0.2);}*/

/* Search */
.search {
  display: flex;
  padding: .3em 0;
  overflow: hidden;
}

.search .form__wrapper {
  width: 45%;
  margin: 0 auto;
}

.search .form__input {
  height: 2.25em;
  border-radius: 5px;
}

.search .form__input:focus ~ .form__label {
  top: 50%;
  transform: translate(-14%, 0%);
}
.search .form__label {
  top: 30%;
  left: 50%;

  padding-left: 0;
  font: 1.25em 'montserratsemibold';
  transform: translate(-17%, 0%);
}

.btn-lupa {
  position: absolute;
  top: 0;
  right: 0;

  width: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.btn-lupa .icon-lupa {font-size: 1.35em;}

/* MAIN MENU */
/*.bg-opacity {
  overflow: hidden;
  position: relative;
}
.bg-opacity::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}*/
.main-menu {
  position: absolute;
  left: 0;
  top: 0;

  width: 20vw;
  height: 100vh;

  padding-top: 4em;
  transform: translateX(-110%);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  z-index: 3;
}
.menu-open .main-menu {transform: translateX(0);}

.main-menu .navbar--categorias {
  position: absolute;
  top: 15px;
  left: 22px;
  cursor: default;
}

/* Menu */
/*.categoria {position: relative;}*/
.categoria__heading {
  position: relative;
  padding: 0 1.5em;

  transition: .5s all;
}
.categoria__heading a {
  width: 100%;
  
  display: inline-block;
  padding: .5em 1.25em;
  
  font: 0.9375em 'montserratsemibold';
  border-bottom: 1px solid rgba(140, 140, 140, 0.45);
  transition: .5s all;
}
.categoria__heading i {
  position: absolute;
  top: 50%;
  right: 1%;

  transform: translate(-50%, -50%);
}

/* Submenu */
.main-menu .subcategorias {
  position: absolute;
  top: 60px;
  left: 100%;

  width: 1025px;
  height: 100vh;

  padding: 4em;
  background-color: #f3f4f5;
  opacity: 0;
  visibility: hidden;
  transition: .5s all;
}

.subcategoria.col-3 {padding-right: 4em;}
.subcategoria h4 {
  padding-bottom: .5em;
  border-bottom: 1px solid rgba(67, 72, 80, 0.15);
}
.subcategoria--list {font: 0.9375em 'Montserrat Medium';}
.subcategoria--list li:not(:last-child) {margin-bottom: .5em;}
.subcategoria--list li a:hover {color: #434850;}
.subcategoria--list li .underlineHover:after {background-color: rgba(67, 72, 80, 0.5);}

/* NUESTRAS TIENDAS */
.nuestrasTiendas-fixed {
  position: fixed;
  top: 28%;
  right: 0%;

  z-index: 2;
}

.nuestrasTiendas__icon {
  position: absolute;
  left: -40%;
  top: 35%;

  width: 100%;
}
.nuestrasTiendas__icon .location-house {
  position: absolute;
  left: 12%;
    
  width: 55%;
  margin-top: -40%;

  animation: float 2.5s ease-in-out infinite;
  z-index: 1;
}
.nuestrasTiendas__icon .location-mapa {
  position: absolute;
  width: 80%;
}

.nuestrasTiendas__caption {
  padding: .5em .75em .5em 2em;
  box-shadow: 0px 0px 10px 0px rgba(2, 3, 0, 0.6);
}
.nuestrasTiendas__caption p {
  font: 0.8125em 'montserratextrabold';
  margin-bottom: 0;
}

/* SLIDER */
/* Slider - Arrows */
.slider .slick-arrow {
  position: absolute;
  top: 45%;
  
  width: 47px;
  height: 47px;
  
  padding: 0;
  
  background-color: rgba(104, 113, 125, 0.4);
  border: 0;
  
  cursor: pointer;
  outline: none;
  z-index: 1;
  transition: 0.5s all ease;
}

.slider .slick-arrow span {
  position: absolute;
  left: 50%;
  top: 50%;

  color: #fff;
  font-size: 1.25em;

  transform: translate(-50%, -50%);
  transition: 0.5s all ease;
}

.slider .slick-arrow:hover,
.slider .slick-arrow:focus {background-color: rgba(104, 113, 125, 0.9);}
  
.slider .slick-prev {left: 0%;}
.slider .slick-next {right: 0%;}

/* Slider Dots */
.slider .slick-dots {
  position: absolute;
  bottom: 2.5%;

  display: block;
  width: 100%;
  
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slider .slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
}

.slider .slick-dots li button {
  display: block;
  width: 14px;
  height: 14px;

  color: transparent;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border: 0;

  cursor: pointer;
  outline: none;
}

.slider .slick-dots li.slick-active button {background-color: #434850;}

/* Slide Caption */
.slide {position: relative;}
/*.slide:first-child.slick-active img {animation:fadeIn 1s both .5s;}*/
.slide-caption {
  position: absolute;
  top: 45%;
  right: 7.5%;

  transform: translate(-50%, -50%);
}

.slide-caption__promo {display: flex;}
.slide.slick-active .slide-caption__promo {animation:fadeInDown 1s both 1s;}
.slide-caption__promo p {
  margin: 0;
  line-height: .75;
}
.slide-caption__promo .number {font-size: 10.5625em;}
.slide-caption__promo .porcentaje {font-size: 7.7025em;}
.slide-caption__promo .dscto {
  font-size: 1.71125em;
  text-transform: uppercase;
}

.slide-caption__text {
  font-size: 2.343125em;
  margin-bottom: 0;
}
.slide.slick-active .slide-caption__text {animation:fadeInDown 1s both 1s;}

.slide-caption__btn {
  align-items: baseline;
  margin-top: 1.5em;
  padding: 1rem 2rem;
  font-family: 'montserratbold';
}
.slide.slick-active .slide-caption__btn {animation:fadeInRight 1s both 1.5s;}
.slide-caption__btn i[class^="icon"] {
  margin-left: 8px;
  margin-right: 0;
  font-size: 12px;
}

/*  HOME OFERTAS */
/* Slider - Arrows */
.slider--arrows .slick-arrow {
  position: absolute;
  top: 45%;
  
  width: 47px;
  height: 47px;
  
  padding: 0;
  
  background-color: #fff;
  border: 0;
  
  cursor: pointer;
  outline: none;
  z-index: 1;
  transition: 0.5s all ease;
}

.slider--arrows .slick-arrow span {
  position: absolute;
  left: 50%;
  top: 50%;

  color: #000;
  font-size: 1.25em;

  transform: translate(-50%, -50%);
  transition: 0.5s all ease;
}

.slider--arrows .slick-arrow:hover,
.slider--arrows .slick-arrow:focus {background-color: rgba(104, 113, 125, 0.15);}
  
.slider--arrows .slick-prev {left: -3.5%;}
.slider--arrows .slick-next {right: -3.5%;}

/* Slider Dots */
.slider--dots .slick-dots {
  position: absolute;
  bottom: -10%;

  display: block;
  width: 100%;
  
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slider--dots .slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
}

.slider--dots .slick-dots li button {
  display: block;
  width: 14px;
  height: 14px;

  color: transparent;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border: 0;

  cursor: pointer;
  outline: none;
}

.slider--dots .slick-dots li.slick-active button {background-color: #434850;}

/* Producto */
.producto {margin: 0 12px;}
/* Producto - Image */
.producto-image {
  position: relative;
  overflow: hidden;
}
.producto-image::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(104, 113, 125, 0.08);
  opacity: 1;
  transition: .5s all;
  z-index: 1;
}

.producto-image__dscto {
  position: absolute;
  top: 2.5%;
  right: 2.5%;

  width: 84px;
  height: 84px;

  display: flex;
  justify-content: center;
  align-items: center;

  font: 1.875em 'montserratbold';
  border-radius: 50%;
  transition: 0.5s all ease;
  z-index: 1;
}

.product-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translateY(10%);
  transform: scale(0);
  transition: .5s all;
  opacity: 0;
  z-index: 1;
}
.product-overlay a {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font: 0.945em 'Montserrat Medium';
  padding: .5rem 2rem;

  color: white;
  background-color: rgba(0, 0, 0, 0.54);
  border: 0;
  cursor: pointer;
  transition: 0.5s all ease;
}

.producto-image img {
  transform: scale(1);
  transition: 0.5s all ease;
}

/* Producto - Body */
.product-body {padding: .5em 1em;}

.product-body h4 {min-height: 28px;}

.producto .antes-text,
.producto .ahora-text {font: 0.8125em 'Montserrat Medium';}
.producto .antes {color: rgba(0, 0, 0, 0.5);}
.producto .antes-number {
  font: 1.0625em 'montserratbold';
  text-decoration: line-through;
}
.producto .ahora-number {font: 1.6875em 'montserratextrabold';}

/* Producto - Foot */
.amount-buy {display: flex;}
.amount-buy .number {
  display: flex;
  width: 30%;
}
.amount-buy .number span {cursor:pointer;}
.amount-buy .number .minus,
.amount-buy .number .plus {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;

  padding: 8px 5px 8px 5px;
  text-align: center;
  
  background-color: rgba(104, 113, 125, 0.1);
}
.amount-buy .number input{
  width: 0%;

  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0%;
  text-align: center;
  font: 16px 'montserratextrabold';
  
  border: 0;
  background-color: rgba(104, 113, 125, 0.1);
}

.amount-buy .btn {
  width: 70%;
}
.amount-buy .btn i {
  font-size: 1.35em;
  transition: .5s all;
}/*
.producto-foot .btn .icon-carrito:first-child {
  opacity: 1;
}
.producto-foot .btn:hover .icon-carrito:first-child {
  opacity: 0;
}
.producto-foot .btn .carritoHover {
  position: absolute;
  left: -70px;
  top: 7px;

  opacity: 0;
  transition: .5s all;
}
.producto-foot .btn:hover .carritoHover {
  opacity: 1;
  left: 50px;
}*/

/* HOME PRODUCTOS DESTACADOS */
.productos-destacados--heading {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
}
.productos-destacados--heading h3 {margin: 0;}
.productos-destacados--heading .tabs {margin-left: 2.5em;}

.tab-item {
  padding: 0.2em 1em;
  font: 1.125em 'montserratbold';
  color: rgba(67, 72, 80, 0.5);
  transition: .5s all;
}
.tab-item:not(:last-child) {
  border-right: 1px solid #434850;
}
.tab-item.current,
.tab-item:hover {color: rgba(67, 72, 80, 1);}

.tab-content {
  position: relative;
  width: 100%;
  min-height: 520px;
}
.tab-panel {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;

  opacity: 0;
  visibility: hidden;
  transition: .5s all;
}
.tab-panel.current {
  opacity: 1;
  visibility: visible;
}

/* HOME SERVICIOS */
.home-servicio--item {
  display: block;
  position: absolute;
  bottom: 0;
  
  width: 100%;
  /*height: 380px;*/
  
  transition: all 0.3s linear 0s;
  z-index: 1;
}
/*.home-servicio--item:hover {box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.3);}*/

.home-servicio--item .home-servicio--item__heading {
  position: relative;

  min-height: 190px;
  /*display: flex;
  justify-content: center;
  align-items: center;*/

  background-color: #fff;
  overflow: hidden;
}
.home-servicio--item .home-servicio--item__heading i {
  display: block;

  position: absolute;
  left: 50%;
  top: 50%;

  transform: translate(-50%, -50%);
  
  font-size: 7em;
  color: rgba(67, 72, 80, 0.7);
  transition: all 0.3s linear 0s;
}
.home-servicio--item:hover .home-servicio--item__heading i {
  /*transform: scale(1.1);*/
  color: rgba(67, 72, 80, 1);
}

.home-servicio--item .home-servicio--item__content {
  /*position: absolute;*/
  bottom: 0;

  width: 100%;
  padding: 1.5em 1em;
  text-align: center;
  
  border-top: 3px solid #e30613;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

.home-servicio--item .home-servicio--item__content .title {
  min-height: 36px;
  font: 1.125em 'montserratextrabold';
  color: rgba(67, 72, 80, 0.7);
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.home-servicio--item:hover .home-servicio--item__content .title {color: rgba(67, 72, 80, 1);}

.home-servicio--item .home-servicio--item__content .caption {
  display: none;
  font: 0.875em 'Montserrat Medium';
}
.hover .home-servicio--item__content .caption {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}

/* Slider homeServicios */
.slider-homeServicios {margin-top: 9em;}
.slider-homeServicios .slick-list {overflow: visible;}
.slider-homeServicios .item {
  position: relative;
  min-height: 280px;
  margin: 0 0.85em;
}

/* FOOTER */
.footer {
  position: relative;
  overflow: hidden;
}

.grid-footer {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 0 2.5em;
}
.footer-col {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 25%;
}

.footer-list .footer-list__link {
  font: 0.8125em 'Montserrat Medium';
  color: rgba(255, 255, 255, 0.7);
}
.footer-list li:not(:last-child) {margin-bottom: .5em;}

.footer-col__linkServicio h5,
.footer-listIcon h5 {
  display: inline-flex;
  align-items: center;
}
.footer-col__linkServicio span,
.footer-listIcon h5 span {margin-left: .5em;}

/* Newsletter */
.newsletter--heading {
  display: flex;
  align-items: center;
}
.newsletter--heading i {font-size: 3em;}

.newsletter--heading__caption {margin-left: 1em;}
.newsletter--heading__caption h5 {font: 0.9375em 'montserratbold';}
.newsletter--heading__caption p {font: 0.8125em 'montserratregular';}

.newsletter--form {
  display: flex;
  justify-content: space-between;
}
.newsletter--form .form__wrapper {
  width: 65%;
  margin-bottom: 0;
}
.newsletter--form button {
  width: 34%;
  font-size: .8em;
}

/* Foot */
.footer-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 0;
}

.footer-foot p {
  font: 12px Arial;
  margin-bottom: 0;
}

.footer-foot p,
.footer-foot p a {
  color: rgba(0, 0, 0, 0.2);
  transition: .5s all;
}
.footer-foot p a:hover {color: rgba(0, 0, 0, 0.5);}

.footer-foot .payment,
.footer-foot .payment-col {display: flex;}
.footer-foot .payment-col {
  padding: 0 1em;
  justify-content: space-around;
}
.footer-foot .payment-col:first-child {border-right: 1px solid rgba(67, 72, 80, 0.5);}
.footer-foot .payment-col img {
  display: inline-block;
  width: 18%;
}

/* COTIZAR */
.cotizar {
  position: fixed;
  bottom: 0;
  right: 0;

  width: 360px;
  padding: 2em 2em 7em;

  background-image: url('../images/bg-cotizar.jpg');
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px -3px rgba(2, 3, 0, 0.6);

  transition: 0.6s all ease-in-out;
  z-index: 2;
}

.cerrar {
  position: absolute;
  right: 0;
  top: -1px;

  width: 37px;
  height: 37px;

  transition: .5s all;
}

.cerrar .line {
  position: absolute;

  left: 50%;
  top: 50%;

  width: 2px;
  height: 20px;

  background-color: #fff;
}

.cerrar .line1 {transform: translate(-50%, -50%) rotate(45deg);}
.cerrar .line2 {transform: translate(-50%, -50%) rotate(-45deg);}

.cotizar h4 {font: 1.125em 'montserratextrabold';}
.cotizar p {
  font: 0.8125em 'Montserrat Medium';
  margin-bottom: 2em;
}

.cotizar--form .form__wrapper {width: 100%;}
.cotizar--form .form__wrapper .form__input,
.cotizar--form .form__wrapper .form__select {border: 1px solid rgba(196, 196, 196, 0.23);}
.cotizar--form .form__label {left: 0;}
.cotizar--form .form__label-content {left: 1em;}
.cotizar--form button {width: 100%;}

/*------------------------------------*\
  #DETALLE PRODUCTO
\*------------------------------------*/

/* BREADCRUMB */
.breadcrumb {margin-bottom: 2em;}
.breadcrumb span {
  font: 0.9375em 'Montserrat Medium';
  color: #68717d;
}
.breadcrumb-item.active {color: #e00006;}

/* DETALLE PRODUCTO */
.grid-detalle {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.detalleProducto-info {width: 49%;}
/* Zoom Produto */
.zoom-gallery {
  position: absolute;
  left: 0;
  top: 0;

  width: 49%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.view {
  position: relative;

  flex-basis: 85%;
  outline: 1px solid rgba(67, 72, 80, 0.15);
}
.view-dscto {
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    width: 84px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 1.875em 'montserratbold';
    border-radius: 50%;
    z-index: 1;
}
.view .xzoom {box-shadow: none;}

.thumbnails {flex-basis: 13%;}
.thumbnails .xzoom__thumb {
  position: relative;
  margin: 0 0 .5em 0;
  border: 0;
}
.thumbnails .xzoom__thumb::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(104, 113, 125, 0.08);
  opacity: 1;
  transition: .5s all;
  z-index: 1;
}
.thumbnails .xzoom__thumb.xactive::before {opacity: 0;}

.thumbnails .xzoom-caption {
  bottom: auto;
  top: -43px;
}

/* Detalle Producto Info */
.detalleProducto-info--heading h3 {
  font: 2.3125em 'montserratbold';
  margin: 0;
}
.detalleProducto-info--heading .codigo {
  font: 0.75em 'Montserrat Medium';
  margin: 2.5em 0;
}

.detalleProducto-info--body {
  position: relative;
  padding: 1.5em 0 0;
  border-top: 1px solid rgba(67, 72, 80, 0.15);
  /*border-bottom: 1px solid rgba(67, 72, 80, 0.15);*/
}
.detalleProducto-info--body .precio-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.detalleProducto-info--body .antes-number {
  font: 1.25em 'montserratbold';
  text-decoration: line-through;
}
.detalleProducto-info--body .antes-text,
.detalleProducto-info--body .antes-number {color: rgba(104, 113, 125, 0.7);}
.detalleProducto-info--body .ahora-number {font: 2.1875em 'montserratextrabold';}
.detalleProducto-info--body .precio-flex,
.detalleProducto-info--body .amount-buy {width: 70%;}
.detalleProducto-info--body .amount-buy .number {width: 20%;}
.detalleProducto-info--body .amount-buy .btn {width: 80%;}

.detalleProducto-info--body .infoProducto p {
  margin: 2em 0;
  padding-top: 2em;
  
  font: 0.9375em 'montserratregular';
  border-top: 1px solid rgba(67, 72, 80, 0.15);
}

.detalleProducto-info--body h5 {font: 1em 'montserratbold';}

.detalleProducto-info--body .color-inline {margin-left: 1em;}
.detalleProducto-info--body .tipo-servicio:not(:first-child) {margin-left: 5em;}

/* Detalle Producto - Ofertas */
.detalleProducto-info--body .anadir-logo {
  display: flex;
  flex-direction: column;
}
.detalleProducto--form p {font: 0.85em 'montserratregular';}
.detalleProducto--form .form__wrapper .form_textarea {
  width: 85%;
  background-color: rgba(67, 72, 80, 0.1);
}

/* Productos Relacionados */
.productosRelacionados {padding: 2em 0 4em;}


/*------------------------------------*\
  #CATEGORÍAS
\*------------------------------------*/

/* Menu categorías */
.categorias--heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plus-minus-toggle {
  position: relative;
  width: 18px;
  height: 18px;

  background-color: #434850;
  border-radius: 50%;
}
.plus-minus-toggle .plus-minus {
  position: absolute;
  left: 23%;
  top: 45%;
  transform: translate(-50%, -50%);
}
.plus-minus-toggle .plus-minus:before,
.plus-minus-toggle .plus-minus:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  
  width: 10px;
  height: 2.5px;
  background-color: #fff;
  transition: transform 500ms ease;
}
.plus-minus-toggle .plus-minus:after {
  transform-origin: center;
  transform: rotate(90deg);
}
.plus-minus-toggle.collapsed .plus-minus:after {transform: rotate(180deg);}

.categorias {
  padding: .25em 0;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.categorias--heading h4 {font: 1.0625em 'montserratbold';}
.categorias--body {
  display: flex;
  flex-direction: column;
  padding: .5em 1em;
}
.categorias--body .categorias--body__item {
  font: 0.875em 'montserratregular';
  transition: .25s all;
}
.categorias--body .categorias--body__item.active {font-family: 'montserratbold';}
.categorias--body .categorias--body__item.active,
.categorias--body .categorias--body__item:hover {color: #E30613;}
.categorias--body .categorias--body__item:not(:last-child) {margin-bottom: 1em;}
.categorias--body .categorias--body__item .underlineHover:after {background-color: rgba(227, 6, 19, 0.8);}

/* Productos */
.productos--heading {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.productos--heading .form__select {
  padding: 0.1em 8.5rem 0 0.75em;
  border: 3px solid #dcdcdc;
}

.productos--list {display: flex;}
.productos--list .grid {width: 74%;/*75*/}
.productos--list .producto {margin: 0 .5em .5em;}


/*------------------------------------*\
  #CARRITO DE COMPRAS
\*------------------------------------*/

.body-carritoCompras .nuestrasTiendas-fixed {display: none;}

.carritoCompras {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

/* CARRITO DE COMPRAS */
.carritoCompras--section {
  width: 75%;
  padding: 2em 2em 2em 6em;
}
.carrito-compras h3 {font-family: 'montserratextrabold';}

/* Tabla */
.tableCarrito {margin-bottom: 4em;}
.tableCarrito--row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(104, 113, 125, 0.2);
}
.tableCarrito--row__image {
  flex-grow: 1;
  flex-basis: 12%;
}
.tableCarrito--row__caption {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-basis: 88%;
}

.tableCarrito-head .producto,
.tableCarrito-body .producto {
  flex-grow: 1;
  flex-basis: 40%;
}
.tableCarrito-head .cantidad,
.tableCarrito-body .cantidad {
  flex-grow: 1;
  flex-basis: 10%;
}
.tableCarrito-head .precioUnitario,
.tableCarrito-body .precioUnitario {
  flex-grow: 1;
  flex-basis: 20%;
}
.tableCarrito-head .subtotal,
.tableCarrito-body .subtotal {
  flex-grow: 1;
  flex-basis: 20%;
}
.tableCarrito-head .borrar,
.tableCarrito-body .borrar  {
  flex-grow: 1;
  flex-basis: 10%;
}

.tableCarrito-head span {
  color: rgba(67, 72, 80, 0.7);
  font: 0.8125em 'montserratbold';
}
.tableCarrito-head .tableCarrito--row {padding: .5em 0;}
.tableCarrito--row__image span,
.tableCarrito--row__caption .borrar span {display: none;}

.tableCarrito-body .tableCarrito--row__image img {margin: 0 auto;}
.tableCarrito-body .producto p {margin-bottom: 0;}
.tableCarrito-body .producto span {font: 0.6875em 'montserratsemibold';}
.tableCarrito-body .cantidad .amount-buy .number {width: 100%;}
.tableCarrito-body .cantidad .amount-buy .number .minus,
.tableCarrito-body .cantidad .amount-buy .number .plus {
  color: #68717d;
  font-size: 1.5em;
  font-weight: bold;
}
.tableCarrito-body .cantidad .amount-buy .number .minus,
.tableCarrito-body .cantidad .amount-buy .number .plus,
.tableCarrito-body .cantidad .amount-buy .number input {background-color: #fff;}
.tableCarrito-body .producto p,
.tableCarrito-body .precioUnitario span {font: 1.125em 'montserratbold';}
.tableCarrito-body .subtotal span {font: 1.25em 'montserratbold';}
.tableCarrito-body .borrar .btn-borrar {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.tableCarrito-body .borrar .btn-borrar i {
  font-size: 1.75em;
  color: rgba(67, 72, 80, 0.5);
  transition: .5s all;
}

/* Formularios */
.box-form {
  padding: 2em 1.5em;
  background-color: rgba(67, 72, 80, 0.1);
}
.box-form h4 {
  font-size: 1.25em;
  margin-bottom: 2em;
}
.box-form h5 {font: 1em 'montserratbold';}
.box-form .form__wrapper {width: 100%;}

/* datepicker */
.datepicker {margin-bottom: 2em;}

.datepicker .ui-widget.ui-widget-content {
  width: 100%;
  padding: 1em;
  border: 0;
  border-radius: 0;
}
.datepicker .ui-datepicker .ui-datepicker-header {
  font: 0.9375em 'montserratbold';
  color: #434850;
  background-color: transparent;
  border: 0;
}
/* datepicker - arrows */
.datepicker .ui-datepicker .ui-datepicker-prev span,
.datepicker .ui-datepicker .ui-datepicker-next span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-indent: inherit;
  background-image: none;
}
.datepicker .ui-datepicker .ui-datepicker-prev i,
.datepicker .ui-datepicker .ui-datepicker-next i {font-size: .5em;}

.datepicker .ui-datepicker .ui-datepicker-prev,
.datepicker .ui-datepicker .ui-datepicker-next,
.datepicker .ui-datepicker .ui-datepicker-prev:hover,
.datepicker .ui-datepicker .ui-datepicker-next:hover {
  top: 0;
  cursor: pointer;
}

.datepicker .ui-datepicker .ui-datepicker-prev,
.datepicker .ui-datepicker .ui-datepicker-prev:hover {left: 0;}
.datepicker .ui-datepicker .ui-datepicker-next,
.datepicker .ui-datepicker .ui-datepicker-next:hover {right: 0;}

/* datepicker - Hover general */
.datepicker .ui-state-hover,
.datepicker .ui-widget-content .ui-state-hover,
.datepicker .ui-widget-header .ui-state-hover {
  color: #fff;
  background-color: #e30613;
  border: 0;
  border-radius: 0;
  transition: .5s all;
}

.datepicker .ui-state-default,
.datepicker .ui-widget-content .ui-state-default {border: 0;}

.datepicker .ui-state-highlight,
.datepicker .ui-widget-content .ui-state-highlight {
  color: #fff;
  background-color: #434850;
}

/* Estilos de días fuera del mes seleccionado */
.datepicker .ui-state-active,
.datepicker .ui-widget-content .ui-state-active {background-color: #e30613;}
.datepicker .ui-priority-secondary,
.datepicker .ui-widget-content .ui-priority-secondary {
  background-color: #f3f4f5;
  color: #434850;
  opacity: 1;
}
.datepicker .ui-priority-secondary.ui-state-hover,
.datepicker .ui-widget-content .ui-priority-secondary.ui-state-hover,
.datepicker .ui-priority-secondary.ui-state-active,
.datepicker .ui-widget-content .ui-priority-secondary.ui-state-active {
  color: #fff;
  background-color: #e30613;
}

/* datepicker - table */
.datepicker .ui-datepicker table {margin-bottom: 0;}
.datepicker .ui-datepicker thead {border-bottom: 1px solid #000;}
.datepicker .ui-datepicker th {color: #e30613;}
.datepicker .ui-datepicker td {padding: 8px 12px;}
.datepicker .ui-datepicker td a {
  background-color: #fff;
  text-align: center;
}

/* Cupón de Descuento */
.cupon-descuento .form__wrapper {
  width: 90%;
  display: flex;
}
.cupon-descuento button {
  margin-left: .5em;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: .5s all;
}
.cupon-descuento .btn-validar {
  padding: .5em 2em;
  font: 0.8125em 'montserratsemibold';
}
.cupon-descuento .btn-validar:hover {
  color: #fff;
  background-color: #e30613;
}
.cupon-descuento .btn-borrar {
  font-size: 1.75em;
  color: rgba(67, 72, 80, 0.5);
}
.cupon-descuento .btn-borrar:hover {color: #e30613;}

/* TOTAL A PAGAR */
.carritoCompras--aside {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  width: 25%;
}
.stickyPagar {
  position: relative;
  top: 0;

  padding: 3em 3.5em 0;
  /*transform: translateY(60%);*/
  transition: .5s all;
}
/*.stickyPagar-fixed {
	position: fixed;
	transform: translateY(40%);
}*/
.carritoCompras--aside h3 {margin-bottom: 0;}
.carritoCompras--aside .cantidad {
  font: 1.25em 'montserratregular';
  margin: .25em 0 1.1em;
}
.carritoCompras--aside .precioDelivery {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #68717d;
}
.carritoCompras--aside .precioDelivery i {font-size: 1.75em;}
.carritoCompras--aside .precioDelivery span {
  font: 0.875em 'montserratbold';
  margin-left: 5px;
}
.carritoCompras--aside .precioTotal {
  font: 2.5em 'montserratextrabold';
  padding: .65em 0em;
}
.carritoCompras--aside .terminos-politica {
  display: flex;
  justify-content: center;
}
.carritoCompras--aside .checkbox .label-pol {cursor: auto;}
.carritoCompras--aside .checkbox .helper {
  width: 22px;
  height: 22px;
  border: 1px solid #68717d;
  cursor: pointer;
}
.carritoCompras--aside .terminos-politica span {
  display: inline-block;
  margin-left: 1em;
  font-size: 14px;
  line-height: 1.25;
}
.carritoCompras--aside .terminos-politica span a:hover {color: #e30613;}
.carritoCompras--aside button {
  width: 100%;
  font-size: 1.875em;
}
.carritoCompras--aside .btn-seguir {padding: 1em 0;}
.carritoCompras--aside .btn-seguir:hover {color: #e30613;}
.carritoCompras--aside .btn-seguir.underlineHover:after {
  bottom: 12px;
  background: rgba(227, 6, 19, 0.8);
}

/*------------------------------------*\
  #NUESTROS SERVICIOS
\*------------------------------------*/

.sct-tabs-services .tabpanel--image {
  position: relative;
  min-width: 60%;
  z-index: 1;
}
.sct-tabs-services .imageRight {float: right;}

.sct-tabs-services .tabpanel--caption {
  position: absolute;
  top: 50%;
}
.sct-tabs-services .captionLeft {
  left: 20%;
  width: 25%;
  transform: translate(-50%, -40%);
}
.sct-tabs-services .captionRight {
  right: 0%;
  width: 25%;
  transform: translate(-50%, -50%);
}
.sct-tabs-services .tabpanel--caption i {
  position: absolute;
  top: 50%;
  left: 0%;

  color: rgba(67, 72, 80, 0.08);
}
.sct-tabs-services .tab-pane#delivery i {
  font-size: 19em;
  transform: translate(-75%, -90%);
}
.sct-tabs-services .tab-pane#credito-hip i {
  font-size: 14em;
  transform: translate(-95%, -125%);
}
.sct-tabs-services .tab-pane#ped-por-cont i {
  font-size: 16em;
  transform: translate(-60%, -105%);
}
.sct-tabs-services .tab-pane#vales-cons i {
  font-size: 14em;
  transform: translate(-70%, -90%);
}
.sct-tabs-services .tab-pane#serv-pers i {
  font-size: 16em;
  transform: translate(-50%, -115%);
}
.sct-tabs-services .tab-pane#at-colegios i {
  font-size: 13em;
  transform: translate(-70%, -100%);
}

.sct-tabs-services .tabpanel--caption h3 {
  font: 2.1875em 'montserratextrabold';
  margin-bottom: 1.25em;
}
.sct-tabs-services .tabpanel--caption h4 {font-size: 1.125em;}
.sct-tabs-services .tabpanel--caption p {margin-bottom: 2em;}
.sct-tabs-services .tabpanel--caption li {
  padding-left: 1em;
  list-style-image: url('../images/check.png');
}

/*------------------------------------*\
  #COMPRA REALIZADA
\*------------------------------------*/

.compraRealizada h4 {margin: 1.5em 0;}
.compraRealizada .col-3 {width: 28%;}
.compraRealizada--grid .col-2 {width: 50%;}
.compraRealizada--grid .grid .col-2 p:last-child {
  padding-top: .5em;
  border-top: 1px solid rgba(104, 113, 125, 0.2);
}

/*------------------------------------*\
  #GRACIAS
\*------------------------------------*/

.section-otros h3 {margin-bottom: .5em;}
.section-otros a {margin-top: 1em;}

/*------------------------------------*\
  #INICIAR SESIÓN
\*------------------------------------*/

.btn-login {width: 100%;}
.iniciar-sesion a {
  display: inline-block;
  margin-top: 2em;
}
.iniciar-sesion .underlineHover:after {background: rgba(67, 72, 80, 0.5);}

/*------------------------------------*\
  #REGISTRO
\*------------------------------------*/

.registro .checkbox .label-pol {margin-bottom: 1.5em;}
.btn-registro {padding: .65rem 5.25rem;}

/********
  PAGES
*********/
/* Sucursales */
.our-shops {
  position: relative;
}

.our-shops .accordion {
  padding-top: 4em;
}

.our-shops .accordion .accordion-content .content-img-shops {
  width: 28%;
  height: 11.3em;
  border-bottom: 2px solid #e30613;
}

.our-shops .accordion .accordion-content .info-sucursal {
  padding-left: 2em;
}

.our-shops .accordion .accordion-content .info-sucursal .icon-acc-int {
  font-size: 1.3em;
  position: relative;
  top: -1px;
  margin-right: 12px;
}

.our-shops .accordion .accordion-content .content-map {
  width: 100%;
  height: 200px;
  display: none;
}

.our-shops .accordion .accordion-content .p-internas {
  font-size: .95em;
}

.our-shops .wrapper-map-desktop {
  height: 70em;
}

.our-shops .wrapper-map-desktop .content-map {
  width: 100%;
  height: 100%;
  display: none;
}

.our-shops .wrapper-map-desktop .content-map.show {
  display: block !important;
}

.our-shops iframe {
  width: 100%;
  height: 100%;
}

/* Servicios */
.sct-tabs-services .content-navb-tab {
  padding: 3.15em 0 1.8em;
}

.sct-tabs-services .nav-tabs {
  text-align: center;
}

.sct-tabs-services .nav-tabs .item-tabs:hover .content-card-repeat .content-icon-card .icon-tabs,
.sct-tabs-services .nav-tabs .item-tabs.active .content-card-repeat .content-icon-card .icon-tabs {
  color: #fff;
  opacity: 1;
}

.sct-tabs-services .nav-tabs .item-tabs:hover .content-card-repeat .ttl-tab,
.sct-tabs-services .nav-tabs .item-tabs.active .content-card-repeat .ttl-tab {
  opacity: 1;
}

.sct-tabs-services .nav-tabs .item-tabs:hover .content-icon-card:before,
.sct-tabs-services .nav-tabs .item-tabs.active .content-icon-card:before {
  height: 100%;
}

/*Nosotros*/
.sct-intro-us {padding: 5em 0 4.5em;}
.sct-intro-us .text-us {font-size: 1.375em;;margin-bottom: 3.8em;}

.sct-mv .content-div-mv .content-dscrip-mv {
  background-color: #e30613;
  height: 16.5em;
  padding: 2em 5em;
}

.sct-mv .content-div-mv .content-dscrip-mv .p-internas {
  width: 86%;
}

.sct-values {padding: 3.3em 0 5em;}
.sct-values .card-values {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
}

.sct-values .content-card-repeat {
  width: 15%;
}

.sct-values .content-card-repeat .content-icon-card {
  height: 13em;
}

.slider-resp-social .item-resp-social {
  position: relative;
  height: 46.2em;
}

.slider-resp-social .item-resp-social .descr-slide {
  position: absolute;
  bottom: 5%;
  width: 85%;
  left: 0;
  right: 0;
  margin: auto;
  font-size: .9em;
  font-style: italic;
}

.slider-resp-social .slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3em;
  width: 3.8em;
  border: 0;
  background-color: rgba(255, 255, 255, .7);
  outline: none;
  z-index: 1;
}
.slider-resp-social .slick-arrow.slick-next {right: 0;}
.slider-resp-social .slick-arrow span {opacity: .8;font-size: 1.5em;}
.descr-resp-social {
  width: 78%;
  margin: auto;
  padding-right: 4.8em;
}
.descr-resp-social .titles-big {
  margin-bottom: 1.3em;
}

/* libro de reclamos */
.form-libro-reclamos{
  margin-bottom: 6em;
}
.form-libro-reclamos .form,
.sct-form-contact .form{
  background-color: rgba(67, 72, 80, .08);
  padding-bottom: 3em;
}
.form-libro-reclamos .form .ttl-forms-lr{
  font-size: 1.25em;
  font-family: 'montserratextrabold';
  padding: 1.56em 1em;
}
.form-libro-reclamos .form .ttl-forms-lr:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 97%;
  background-color: rgba(67, 72, 80, .1);
  margin: auto;
}
.form-libro-reclamos .form .ttl-forms-lr:first-child:before{display: none;}
.form-libro-reclamos .btn-send{
  width: 59.4%;
  height: 2.6em;
  font-size: 18px;
  cursor: pointer;
}
.form-libro-reclamos .dscrp-lr {
  padding: 3em 0 2em;
}
/* Formas de pago */
.forms-pago {
  margin-top: 3em;
}
.card-form-pag {
  margin-bottom: 3em;
}
.card-form-pag .content-card-repeat {
  width: 70%;
  margin: auto;
  text-align: center;
  margin-bottom: 2.8em;
}

.card-form-pag .content-card-repeat .content-icon-card {
  width: 75%;
  margin: auto;
}
.card-form-pag .titles-int {
  margin-bottom: 1.5em;
}
.imgs-logos-fp {  
  display: flex;
  justify-content: space-around;
}
.imgs-logos-fp img{
  width: 15%;
}

/* Como Comprar */
.card-como-comprar{position: relative;margin-bottom: 5em;}
.card-como-comprar:before{
  position: absolute;
  content: url('../images/icons/arrow-red.jpg');
  top: 30%;
  right: -3%;
}
.card-como-comprar:last-child:before{display: none;}
.card-como-comprar .content-card-repeat {padding-top: 5em;}
.card-como-comprar .content-card-repeat:before {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.55em;
  height: 1.55em;
  background-color: #e30613;
  color: #fff;
  font-family: 'montserratextrabold';
  border-radius: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.18em;
}
.card-como-comprar:first-child .content-card-repeat:before{content: "1";}
.card-como-comprar:nth-child(2) .content-card-repeat:before{content: "2";}
.card-como-comprar:last-child .content-card-repeat:before {content: "3";}

.card-como-comprar .content-card-repeat .content-icon-card .icon-tabs {
  font-size: 5.75em;
}

/* Política de entrega */
.sct-info-pe .list-pe {
  width: 80%;
}
.sct-info-pe .list-pe .item-list-pe {
  margin-bottom: 2em;
  position: relative;
}
.sct-info-pe .list-pe .item-list-pe:before {
  position: absolute;
  content: url('../images/icons/check.svg');
  background-repeat: no-repeat;
  left: -45px;
}

.content-img-pe {
  width: 72.4%;
  /* height: 46.5em; */
  position: relative;
}
.content-img-pe .img1-png-pe,
.content-img-pe .img2-png-pe {
  position: absolute;
  bottom: 0;
}
.content-img-pe .img1-png-pe{
  left: 11.5em;
  width: 100%;
}
.content-img-pe .img2-png-pe {
  left: -29%;
  width: 80%;
}

/* Cambios y devoluciones */
.sct-info-cd .content-img-cd {
  width: 73%;
  height: 47em;
  position: relative;
}
.sct-info-cd .content-img-cd .img-devol {
  position: absolute;
  bottom: 0;
  width: 95%;
  right: -17%;
}
.content-descp-cd {
  width: 80%;
}
.content-descp-cd .p-internas {
  margin-bottom: 2em;
}
.check-cd {
  display: table;
  margin-bottom: 4em;
}
.check-cd .div-icon-check{
  width: 55px;
  height: 55px;
  border: 3px solid rgba(67,72,80,.6);
  position: relative;
  background-color: #fff;
  float: left;
  margin-right: 1.5em;
}
.check-cd .div-icon-check:before,
.check-cd .div-icon-check:after {
  content: "";
  position: absolute;
  background-color: #e30613;
  margin: auto;
  bottom: 0;
}
.check-cd .div-icon-check:before {
  width: 6px;
  height: 16px;
  top: 18px;
  left: 23%;
  transform: rotate(-37deg);
  border-radius: 10px;
}
.check-cd .div-icon-check:after {
  width: 6px;
  height: 36px;
  left: 52%;
  top: 0;
  transform: rotate(39deg);
  border-radius: 10px 10px 0px 0;
}
.check-cd .p-internas {
  padding-right: 2em;
  margin-bottom: 0;
  display: table-cell;
  vertical-align: middle;
}
.sct-check-cd {
  padding-top: 4em;
}
/* contactanos */
.sct-form-contact {
  margin-bottom: 5em;
}
.sct-form-contact .form {
  padding: 3em 0 2em;
}
.sct-form-contact .p-form {
  margin: 3em 0 1.8em;
}
.sct-form-contact .form .form__label,
.form-libro-reclamos .form .form__label {padding-left: 2em;}

/* MI PERFIL */
.main-perfil .container{position: relative;}
.main-perfil .container > .row {display: flex;align-items: center;flex-direction: column;}
.main-perfil .container .ttl-mp{font-size: 2.2em;margin-top:1em}
.main-perfil .tabs{z-index:1;margin: 0px;padding: 0px;list-style: none;position: fixed;left: 10%;display: flex;flex-direction: column;top: 32%;}
.main-perfil .tabs > li{width:75%;border-bottom: 1px solid;border-top: 1px solid;border-color: rgba(0, 0, 0, 0.15);}
.main-perfil .tabs > li .tab-link {font-family: 'montserratsemibold';background: none;display: block;padding: 10px 15px;cursor: pointer;padding-left: 27px;position: relative;}
.main-perfil .tabs > li.active .tab-link {color: #e30613;font-family: 'montserratextrabold'}
.main-perfil .tab-content {display: flex;justify-content: center;}
.main-perfil .tab-content .form {display: flex;justify-content: center;flex-direction: column;}
.main-perfil .tab-content .form .form-dat-usu {background-color: rgba(67, 72, 80, .08);}
.main-perfil .tab-content .form .btn-send{width: auto;height: auto;padding: .7em 1em;font-size: 1em;float: right; margin:1em 0}
.main-perfil .tab-content .ttl-tabs-perfil{font-size: .95em;margin: 2em 0 1.2em;}
.main-perfil .detall-compras{display: flex;align-items: flex-end; margin-bottom: 2.3em;}
.main-perfil .detall-compras .pedido{width: 25%;}
.main-perfil .detall-compras .pedido .titles-int{font-size: .9em;margin: 0;}
.main-perfil .detall-compras .pedido .p-internas{font-size: .7em;}
.main-perfil .detall-compras .content-seg{display: flex;justify-content: space-around;width: 75%;margin-bottom: 0;}
.main-perfil .detall-compras .content-seg .item-seg .p-internas{font-size: .8em;text-transform: uppercase;}

.main-perfil .detall-compras .content-seg .icons-det{display: block;text-align: center;font-size: 1.4em;color: rgba(67, 72, 80, .65);}
.content-mis-compras h2.p-internas {font-size: 1.55em;margin-bottom: 0;}
.tabla-compras{overflow: auto;margin-top: 2.5em;}


