@media screen and (min-width: 1601px) {
    /* CATEGORÍAS */
    .body-categorias .carrito {
        width: 16vw;
        transform: translate(9%, 76%);
    }
}

@media screen and (max-width: 1600px) {
    /* GLOBAL */
    .container {width: 90%;}

    /* HEADER */
    .head--left .social {padding-right: .5em;}
    .phone,
    .head--left .email {padding: 0 .5em;}
    .head--left .phone span {font-size: .75em;}
    .head--left .phone i {font-size: 1em;}
    .head--left .email span {font-size: .85em;}
    .head--right .login .icon-login {font-size: 1.1em;}
    .head--right .shopping-cart .icon-carrito {font-size: 1.25em;}

    .carrito h3 {margin: 0 0 .25em;}
    .carrito p {margin-bottom: .75em;}

    .navbar--categorias,
    .navbar--item {font-size: .85em;}

    .navbar--item {padding: .5em 2.25em;}

    /* HOME - SERVICIOS */
    .home-servicio--item .home-servicio--item__content {padding: .25em 1em;}

    /* CARRITO DE COMPRAS */
    .datepicker .ui-datepicker td {padding: 4px;}
}

@media (min-width: 769px) and (max-width: 1600px) {
    /* CATEGORÍAS */
    .body-categorias .carrito {
        width: 19vw;
        transform: translate(8%, 74%);
    }
}

@media screen and (max-width: 1400px) {
    /* HEADER */
    .navbar--item {padding: .5em 1.25em;}

    .carrito {width: 320px;}
    .carrito--item {padding: .5em 0 0;}
    .carrito--item__caption h4 {font-size: .525em;}
    .carrito--costo {padding: .65em .65em 0;}
    .carrito p {margin-bottom: .55em;}

    /* Subnavbar */
    .subnavbar h3 {font-size: 1.8em;}
    .subnavbar .submenu--list__item {font-size: 1.3em;}

    .cotizar {
        width: 320px;
        padding: 2em;
    }
    .cotizar h4 {margin-top: 0;}

    /* SLIDER */
    .slide-caption__promo .number {font-size: 8em;}
    .slide-caption__promo .porcentaje {font-size: 6.25em;}
    .slide-caption__promo .dscto {font-size: 1.5em;}
    .slide-caption__text {font-size: 1.75em;}

    /* SERVICIOS */
    .sct-tabs-services .tab-content {min-height: 460px;}
    .sct-tabs-services .tabpanel--image {max-width: 56%;}
    .sct-tabs-services .tabpanel--caption h3 {
        font-size: 2em;
        margin-bottom: 1em;
    }
    .sct-tabs-services .tabpanel--caption p {
        margin-bottom: 1em;
        font-size: .95em;
    }

    #credito-hip .captionLeft {
        left: 25%;
        width: 30%;
        transform: translate(-50%, -50%);
    }
    .sct-tabs-services .tab-pane#credito-hip i {
        font-size: 8em;
        transform: translate(-80%, -160%);
    }

    .sct-tabs-services .tab-pane#delivery i {font-size: 16em;}
    .sct-tabs-services .tab-pane#ped-por-cont i,
    .sct-tabs-services .tab-pane#serv-pers i {font-size: 12em;}

    .font-s-p1 {
        font-size: 1em;
    }
    .slider-resp-social .item-resp-social {
        height: 35em;
    }
    .sct-info-cd .content-img-cd {
        height: 39em;
    }

    /* mi perfil */
    .main-perfil .detall-compras .content-seg .item-seg .p-internas {
        font-size: .7em;
    }
}
@media screen and (max-width:1199px){
    .main-perfil .tabs{position: relative;flex-direction: initial;left: 0;text-align: center}
    .main-perfil .detall-compras .pedido {width: 100%;margin-bottom: 1em;}
    .main-perfil .detall-compras .content-seg{width: 100%;flex-wrap: wrap;margin-bottom: 2em;}
    .main-perfil .item-seg {width: 50%;margin-bottom: 1.3em;}
    .main-perfil .detall-compras{display: initial;}
}
@media screen and (max-width: 1024px) {
    /* GLOBAL */
    .h4 {font-size: .55em;}

    /* HOME - COTIZAR */
    .cotizar {width: 35%;}

    /* HEADER */
    .head--left .social {padding-right: .25em;}
    .phone,
    .head--left .email {padding: 0 .25em;}
    .head--left .phone span {font-size: .5em;}
    .head--left .phone i {font-size: .85em;}
    .head--left .email span {font-size: 0.55em;}
    .head--right .login .icon-login {font-size: 1em;}
    .head--right .shopping-cart .icon-carrito {font-size: 1.2em;}

    .navbar--categorias,
    .navbar--item {font-size: .625em;}
    .navbar--item {padding: .5em 1.5em;}
    .subnavbar .subnavbar--wrapper {
        max-width: 900px;
        height: 60%;
    }
    .subnavbar--wrapper .submenu {padding-top: 6em;}
    .subnavbar .submenu-col:last-child {padding: 0 2em;}

    .categoria__heading {padding: 0 1em;}

    /* SLIDER */
    .slide-caption__promo .number {font-size: 5.5625em;}
    .slide-caption__promo .porcentaje {font-size: 3.7025em;}
    .slide-caption__promo .dscto {font-size: 1.41125em;}
    .slide-caption__text {font-size: 1.343125em;}

    /* HOME - PRODUCTOS DESTACADOS */
    .productos-destacados--heading .tabs {margin-left: 0.5em;}
    .product-body h4 {min-height: 18px;}
    .tab-content {min-height: 320px;}

    /* HOME SERVICIOS */
    .home-servicio--item .home-servicio--item__heading {min-height: 170px;}
    .home-servicio--item .home-servicio--item__heading i {font-size: 5em;}
    .home-servicio--item .home-servicio--item__content {padding: .5em;}
    .home-servicio--item .home-servicio--item__content .title,
    .home-servicio--item .home-servicio--item__content .caption {font-size: .75em;}

    /* CARRITO DE COMPRAS */
    .carritoCompras--section {padding: 2em;}
    .box-form .radio-inline .radio:not(:first-child) {margin-left: 1em;}
    .datepicker .ui-datepicker td {padding: 0px;}

    /* FOOTER */
    .footer-col {flex-basis: 50%;}
    .footer-foot .payment {display: none;}

    /* Servicios */
    .sct-tabs-services .content-navb-tab .container {
        width: 100%;
    }
    .sct-tabs-services .nav-tabs {
        display: flex;
        flex-wrap: nowrap;
        /*overflow: scroll;
        webkit-overflow-scrolling: touch;*/
    }
    .sct-tabs-services .nav-tabs .item-tabs {
        width: 38%;
    }
    .sct-tabs-services .nav-tabs .content-card-repeat {
        width: 11em;
    }
    .sct-tabs-services .nav-tabs .content-card-repeat .content-icon-card {
        height: 5em;
    }
    .sct-tabs-services .nav-tabs .content-card-repeat .content-icon-card .icon-tabs {
        font-size: 3em;
    }
}

@media screen and (max-width: 992px) {
    /* FOOTER */
    .footer .footer--top .container,
    .footer .footer--bot .container {width: 100%;}

    /* politicas de entrega */
    .flex-mob > .d-alig-flex,
    .flex-mob > .d-flex-just,
    .forms-pago .flex-mob .d-flex-just {
        flex-direction: column!important;
    }
    .sct-info-pe .list-pe {
        margin: auto;
    }
    .sct-values .card-values {
        flex-wrap: wrap;
    }
    .sct-values .content-card-repeat {
        width: 30%;
    }
    .resp-social .flex-mob .d-alig-flex {
        flex-direction: column-reverse !important;
    }
    .slider-resp-social .item-resp-social {
        height: 22em;
    }
    .card-como-comprar:before {
        display: none;
    }
    .content-descp-cd {
        width: 95%;
        margin: auto;
        padding-top: 3em;
    }
}

@media screen and (min-width: 769px) {
    /* Global */
    .underlineHover {position: relative;}
    .underlineHover:after {    
        content: "";
        position: absolute;
        bottom: -4px;
        left: 50%;
        
        width: 0;
        height: 2px;
        display: block;

        background: none repeat scroll 0 0 transparent;
        background: rgba(255, 255, 255, 0.7);
        transition: width 0.3s ease 0s,
                    left 0.3s ease 0s;
    }
    .underlineHover:hover:after { 
        width: 100%; 
        left: 0; 
    }
   
    /* INDEX - Header*/
    .header-fixed .head--center {flex-basis: 5%;}
    .header-fixed .navbar {
        top: 60%;
        padding: 0;
    }

    .catalogo--item:hover,
    .navbar--item:hover {
        color: #e30613;
        background-color: #fff;
    }
    .navbar--item.itemHideDesktop {display: none;}
    .navbar-left .navbar--categorias .icon-arrow-right {display: none;}

    .social a:hover {background-color: #fff;}
    .social a:hover i {color: #e30613;}

    .categoria:hover .subcategorias {
        visibility: visible;
        opacity: 1;
    }

    .categoria__heading:hover {background-color: #e30613;}
    .categoria__heading:hover a {color: #fff;}

    /* Subnavbar */
    .subnavbar .submenu--item:hover h3,
    .subnavbar .submenu--list__item:hover {color: #e30613;}

    .subnavbar .submenu-col:last-child button {display: none;}

    /* Main Menu */
    .main-menu .navbar--categorias .icon-arrow-left {display: none;}

    /* HOME - Producto */
    .producto-image:hover::before {opacity: 0;}

    .product-overlay a:hover {background-color: rgba(0, 0, 0, 0.9);}

    .producto-image:hover .product-overlay {
        transform: translateY(0%);
        transform: scale(1);
        opacity: 1;
    }

    /*.producto-image:hover .producto-image__dscto {transform: scale(0.75);}*/

    .producto-image:hover img {transform: scale(1.10);}

    /* Menu otros */
    .menu-otros {display: none;}

    /* FOOTER */
    .footer-col:first-child h5 i {display: none;}

    /* CATEGORÍAS - Carrito Fixed */
    .productos--list__aside {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        
        width: 24%;
        padding-top: 4em;
    }

    .productos--list__aside .carrito.stickyCarrito {
        display: block;
        position: relative;
        right: auto;
        top: 0;

        max-width: 250px;
        padding: 1em;
        
        transition: .5s all;
        z-index: 0;
    }
    .productos--list__aside .carrito h3 {
        margin-top: 0em;
        font-size: 1.5em;
    }
    .productos--list__aside .carrito p {margin-bottom: .5em;}
    .productos--list__aside .carrito .carrito--item {padding: .5em 0 0;}
    .productos--list__aside .carrito .carrito--item__image {max-width: 30%;}
    .productos--list__aside .carrito .carrito--costo {padding: .75em 0 0;}
    .productos--list__aside .carrito .carrito--ver {
        padding: .75em 0 0;
        font: 0.625em 'montserratbold';
    }
    .productos--list__aside .carrito .carrito--ver.underlineHover:after {bottom: -3px;}

    /* CARRITO DE COMPRAS */
    .carritoCompras--section .cantidadMobile {display: none;}
    .tableCarrito-body .borrar .btn-borrar i:hover {color: #e30613;}

    /* DETALLE PRODUCTO */
    .btn-detalleCollapse {display: none;}
}

@media screen and (max-width: 768px) {
    /* GLOBAL */
    .container {width: 100%;}
    .section {padding: 1.5em 0;}
    .col-3 {width: 49%;}
    .titles-big {font-size: 2.125em;}
    .btn {font-size: .8225em;}
    .main-index .container {width: 100%;}

    .mg-b-banner {margin-bottom: 2em;}

    /* Formulario */
    .form .form__label {font-size: .85em;}
    .radio [type="radio"]:checked + label:before,
    .radio [type="radio"]:not(:checked) + label:before {
        width: 20px;
        height: 20px;
    }
    .radio [type="radio"]:checked + label:after,
    .radio [type="radio"]:not(:checked) + label:after {
        left: 5.5px;
        top: 5.5px;

        width: 12px;
        height: 12px;
    }
    .radio-inline .radio:not(:first-child) {margin-left: 2em;}

    .checkbox .helper {margin: initial;}

    .sub-title i {font-size: 1.5em;}
    .h3 {font-size: 1.25em;}
    .h3-big {font-size: 1.6em;}

    /* HEADER */
    .header .container {width: 100%;}
    .header .head {
        padding: .35em;
        align-items: center;
    }

    .head--left,
    .head--right {
        justify-content: space-around;
        flex-basis: 40%;
    }

    .header .head--left .social,
    .header .head--left .phone span,
    .header .head--left .email span,
    .header .head--right .catalogo {display: none;}

    .header .head--left .phone,
    .header .head--left .email {
        padding: 0;
        align-self: self-start;
    }

    .header .head--left .phone i,
    .header .head--left .email i {font-size: 1.5em;}

    .header .head--left .phone {border-left: 0;}

    #menu-responsive {display: block;}
    #menu-responsive.hamburger-menu,
    #menu-responsive.hamburger-menu .icon,
    #menu-responsive.hamburger-menu .icon:before,
    #menu-responsive.hamburger-menu .icon:after {width: 32px;}

    .head--center .logo a {display: block;}

    /* HEADER - Navbar */
    .header--wrapper {position: initial;}
    .header .navbar,
    .header .navbar-left,
    .header .navbar-right,
    .header .navbar-otros {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .header .navbar-otros {display: flex;}
    .navbar {
        display: none;
        position: fixed;
        bottom: 0;
        left: 0;
        top: 0;

        height: 100%;
        padding-top: 10em;
        
        background-color: #f3f4f5;
        z-index: -1;
    }
    .navbar .navbar--menu #menu-servicios {display: none;}

    .navbar--item,
    .navbar--item:hover,
    .navbar--categorias span {color: #e30613;}

    .navbar--categorias,
    .navbar--item {font-size: 1em;}

    .navbar--item {
        width: 100%;
        margin: 0;
        padding: .75em 2em;
        border-bottom: 1px solid rgba(140, 140, 140, 0.45);
    }
    .navbar--item.itemHideMobile {display: none;}
    .navbar-otros .navbar--item {
        display: flex;
        justify-content: space-between;
        color: #434850;
    }

    .navbar .social {
        position: absolute;
        bottom: 5%;
        left: 0;
        right: 0;

        width: 90%;

        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }
    .navbar .social a i {
        font-size: 2em;
        opacity: .65;
    }

    .main-menu {
        top: 100%;
        width: 100%;
        overflow-y: auto;
        padding-top: 0;
    }
    .main-menu .cerrar {display: none;}
    .main-menu .navbar--categorias {
        position: relative;
        top: 0;
        left: 0;

        width: 100%;
        padding: .75em 2em;
        justify-content: space-between;
        background-color: #e30613;
        border-bottom: 1px solid rgba(140, 140, 140, 0.45);
    }
    .main-menu .navbar--categorias span {color: #fff;}
    .navbar--categorias .arrow-down {display: none;}
    
    .menu-open,
    .otros-open,
    .serviciosCliente-open {overflow: hidden;}

    .categoria__heading {padding: 0;}
    .categoria__heading a {
        padding: .75em 2.25em;
        font-size: 1em;
    }

    .subcategoria.col-3 {
        padding-right: 0;
        margin-bottom: 0;
    }
    .main-menu .subcategorias {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        opacity: 1;
        visibility: visible;
        padding: 0;
        overflow-y: auto;
        z-index: 5;
    }
    .main-menu .subcategorias h3,
    .main-menu .subcategorias h4 {display: none;}
    .subcategoria--list {font-size: .85em;}
    .subcategoria--list li {
        margin-bottom: 0!important;
        padding: 1em 3.5em;
        background-color: #eaeaea;
        border-bottom: 1px solid #c4c4c4;
    }

    /* HEADER - Buscar */
    .header .search {padding: .5em;}
    .header .search .form__wrapper {width: 100%;}
    .search .form__label {
        font-size: 1em;
        transform: translate(-15%, 0%);
    }

    /* Servicios al cliente */
    .subnavbar .subnavbar--otros {display: none;}
    .subnavbar {
        display: block;
        position: fixed;
        left: 0;
        top: 149px;
        width: 100%;
        height: 100%;
        transform: translateX(-110%);
        transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
        z-index: 4;
    }
    .serviciosCliente-open .subnavbar {transform: translateX(0);}
    .subnavbar .subnavbar--wrapper {
        width: 100%;
        display: block;
    }
    .subnavbar--wrapper .submenu {padding-top: 0;}
    .submenu-col {width: 100%;}
    .subnavbar .submenu-col:last-child {padding: 0;}
    .subnavbar .submenu-col:last-child h3 {display: none;}
    .subnavbar .submenu--list__item {
        font-size: 1em;
        padding: 1em 2em;
    }
    .subnavbar .submenu--list {padding-left: 0;}

    /* Menu Otros */
    .menu-otros {
        display: block;
        position: fixed;
        left: 0;
        top: 119px;
        width: 100%;
        height: 100%;
        transform: translateX(-110%);
        transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
        z-index: 3;
    }
    .otros-open .menu-otros {transform: translateX(0);}

    .btn--volver {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        padding: .75em 2em;
        font: 1em 'montserratbold';
        
        border: 0;
        cursor: pointer;
    }
    .menu-otros .submenu--item {
        width: 100%;
        align-items: center;
        border-bottom: 1px solid rgba(140, 140, 140, 0.45);
    }
    .menu-otros .submenu--item h3 {
        font-size: 1em;
        margin-bottom: 0;
    }

    /* HEADER - Carrito de Compras */
    .carrito {
        width: 315px;
        padding: .5em .5em 0;/*0 .5em*/
    }
    .carrito h3 {font-size: .75em;}
    .carrito p {
        font-size: 0.5em ;
        margin-bottom: .5em;
    }
    .carrito--item {padding: .25em 0;}
    .carrito--item img {width: 25%;}
    .carrito--item__caption h4 {font-size: .5em;}
    .carrito--item__caption .precio {font-size: .65em;}
    .carrito--costo {padding: .5em 0 0;}
    .carrito--costo__text .total,
    .carrito--costo__precio .total {font-size: .85em;}
    .carrito--pagar {
        font-size: .6em;
        padding: .5em 0;
    }
    .carrito--ver {
        font-size: .5em;
        padding: .85em 0;
    }

    /* Nuestras Tiendas */
    .cotizar,
    .nuestrasTiendas-fixed {display: none;}

    /* SLIDER */
    .slider {display: none;}

    /* OFERTAS DEL MES */
    .producto {margin: 0 4px;}
    .producto .product-overlay,
    .producto .producto-image::before {display: none;}
    .producto-image__dscto {
        top: 0;
        right: 0;

        width: 48px;
        height: 48px;
        font-size: 1em;
    }

    .product-body {padding: 0;}
    .product-body h4 {
        margin: 0;
        font-size: .55em;
        min-height: 20px;
    }
    .product-body .ahora {margin: .2em 0;}
    .producto .antes-text,
    .producto .ahora-text {font-size: .55em;}
    .producto .antes-number {font-size: .725em;}
    .producto .ahora-number {font-size: 1.1em;}

    .amount-buy .number .minus,
    .amount-buy .number .plus {padding: .15em 0;}

    .amount-buy .number input {font-size: 12px;}
    .producto .btn i {display: none;}
    .producto .btn {
        font: .6em 'montserratbold';
        padding: .25rem 1rem;
    }

    /* Slider Dots */
    .slider--dots .slick-dots {bottom: -15%;}
    .slider--dots .slick-dots li button {
        width: 12px;
        height: 12px;
    }

    /* OFERTAS DEL MES */
    .ofertas-mes,
    .productos-destacados {padding: 1.5em 0 3em;}

    /* PRODUCTOS DESTACADOS */
    .productos-destacados--heading {margin-bottom: 0;}
    .productos-destacados--heading .tabs {margin-left: 0;}
    .productos-destacados--heading .tab-item {
        font-size: .8em;
        padding: 0.2em .5em;
    }

    .productos-destacados .tab-content {min-height: 290px;}

    /* HOME - NUESTROS SERVICIOS */
    .slider-homeServicios {margin-top: 1em;}
    .slider-homeServicios .item {
        min-height: 140px;
        margin: 0 .5em;
    }
    .home-servicio--item {height: auto;}
    .home-servicio--item .home-servicio--item__heading {min-height: 83px;}
    .home-servicio--item .home-servicio--item__heading i {
        font-size: 2.5em;
        color: rgba(67, 72, 80, 1);
    }
    .home-servicio--item .home-servicio--item__content {padding: 0;}
    .home-servicio--item .home-servicio--item__content .title {
        min-height: 20;
        font-size: .6em;
        margin: 1em 0;
    }

    /* CARRITO DE COMPRAS */
    /* Carrito de Compras */
    .carritoCompras--section {
        width: 100%;
        padding: 1em;
    }
    .carritoCompras--section h3 {margin-bottom: 0;}
    .carritoCompras--section .cantidadMobile {
        display: block;
        font: .75em 'Montserrat Medium';
        font-weight: bold;
        color: rgba(67, 72, 80, 0.75);
    }
    .box-form {padding: 1em 1.5em;}
    .box-form h4 {
        font-size: 1em;
        margin-bottom: 1em;
    }
    
    /* Total a Paga */
    .carritoCompras--aside {
        position: relative;
        width: 100%;
    }
    .stickyPagar {
        padding: 1.25em 1em 1em;
        /*transform: translateY(0%);*/
    }

    /* CATEGORÍAS INTERNA */
    .categorias-productos .container {width: 100%;}
    .categorias-productos .categorias {display: none;}
    .categorias-productos .col-3 {width: 32%;}
    .categorias-productos .productos--list .grid {width: 100%;}
    .categorias-productos .productos--list .product-body {
        min-height: 65px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .categorias-productos .productos--list__aside {display: none;}

    /* DETALLE PRODUCTO */
    .detalleProducto .container {width: 100%;}
    
    .detalleProducto-info,
    .detalleProducto-info .zoom-gallery {width: 100%;}

    .detalleProducto-info--heading h3 {font-size: 1.35em;}
    .detalleProducto-info--heading .codigo {
        font: 0.75em 'montserratsemibold';
        margin: .5em 0;
    }

    .detalleProducto-info .zoom-gallery {
        position: relative;
        flex-direction: row;
    }
    .detalleProducto-info .view {flex-basis: 100%;}
    .detalleProducto-info .thumbnails {
        flex-basis: 65%;
        display: flex;
        margin-top: .5em;
    }
    .view-dscto {
        right: 1.5%;
        top: 1.5%;

        width: 70px;
        height: 70px;
        font-size: 1.25em;
    }

    .detalleProducto-info .infoProducto,
    .detalleProducto-info .detalleProducto--form {display: none;}

    .detalleProducto-info .colorOptions {
        position: absolute;
        top: 15px;
        right: 0;

        align-items: center;
    }
    .detalleProducto-info .colorOptions .color-inline input[type="radio"] + label span {
        width: 25px;
        height: 25px;
    }

    .detalleProducto-info--body {
        padding: 1em 0 0;
        border-bottom: 0;
        border-top: 0;
    }
    .detalleProducto-info--body h5 {font-size: .8em;}
    .detalleProducto-info--body .color-inline .radio-color label {margin-bottom: 0;}

    .detalleProducto-info--body .precio-flex {
        width: 50%;
        justify-content: flex-start;
        margin-bottom: 0;
    }
    .detalleProducto-info--body .antes-text,
    .detalleProducto-info--body .antes-number {
        font-size: .85em;
        margin-bottom: .25em;
    }
    .detalleProducto-info--body .ahora-text {font-size: .85em;}
    .detalleProducto-info--body .ahora-number {font-size: 1.75em;}

    .btn-detalleCollapse {
        width: 100%;
        padding: .85em 1em;

        display: flex;
        align-items: baseline;

        font: 0.95em 'montserratbold';
        border-bottom: 1px solid rgba(67, 72, 80, 0.3);
        border-left: 0;
        border-right: 0;
        border-top: 0;
    }
    .btn-detalleCollapse:first-of-type {border-top: 1px solid rgba(67, 72, 80, 0.3);}
    .btn-detalleCollapse span {margin-left: .75em;}
    /*.btn-detalleCollapse i.active {transform: rotate(90deg);}*/

    .detalleProducto-info--body .infoProducto-content {
        display: flex;
        flex-direction: column-reverse;
        padding: 1em .5em;
        border-bottom: 1px solid rgba(67, 72, 80, 0.3);
    }
    .detalleProducto-info--body .infoProducto p {
        padding-top: 0;
        border-top: 0;
        text-align: justify;
        margin: 0 0 1em;
    }
    .detalleProducto-info--body .amount-buy .number {width: 60%;}
    .detalleProducto-info--body .amount-buy .number .minus,
    .detalleProducto-info--body .amount-buy .number .plus {
        padding: .75em 0;
        border: 1px solid rgba(67, 72, 80, 0.3);
    }
    .detalleProducto-info--body .amount-buy .number input {
        border-bottom: 1px solid rgba(67, 72, 80, 0.3);
        border-top: 1px solid rgba(67, 72, 80, 0.3);
    }

    .detalleProducto--form {padding: .5em;}

    .detalleProducto-info--body .tipo-servicio:not(:first-child) {margin-left: 0;}
    .detalleProducto-info--body .radio-inline .radio:not(:first-child) {margin-left: 1em;}
    .detalleProducto--form .radio [type="radio"]:checked + label,
    .detalleProducto--form .radio [type="radio"]:not(:checked) + label {
        font-size: 0.75em;
        line-height: 20px;
    }
    .detalleProducto--form .input_file {padding: .5em 1.5em;}
    .detalleProducto--form .file_label span {font-size: 0.75em;}
    .detalleProducto--form .form__wrapper .form_textarea {width: 100%;}

    /* Productos Relacionados */
    .productosRelacionados {padding: 0em 0 4.25em;}
    .productosRelacionados .container {width: 100%;}
    .productosRelacionados h3 {
        text-align: center;
        margin-bottom: 0;
    }

    /* SERVICIOS */
    .sct-tabs-services .nav-tabs {flex-wrap: wrap;}
    .sct-tabs-services .nav-tabs .item-tabs {width: 30%;}

    .sct-tabs-services .tabpanel--image {display: none;}
    .sct-tabs-services .tab-content {min-height: auto;}
    .sct-tabs-services .tabpanel--caption,
    #credito-hip .captionLeft {
        position: relative;
        top: 0;
        left: 0;

        width: 100%;
        padding: 1em 3em;
        transform: translate(0%, 0%);
    }

    .sct-tabs-services .tabpanel--caption h3 {font-size: 1.5em;}

    .sct-tabs-services .tab-pane i {
        top: 3%;
        left: 3%;

        font-size: 6em!important;
        transform: translate(0%, 0%)!important;
    }

    /* sucursales */
    .our-shops .accordion .accordion-content .content-map {
        margin-top: 2em;
    }
    .our-shops .accordion .accordion-content .info-sucursal {
        padding-left: 0;
    }
    .sct-values .content-card-repeat {
        width: 45%;
    }
    .descr-resp-social {
        width: 100%;
        padding-right: 0;
    }

    /* FORMAS DE PAGO */
    .forms-pago {margin-top: 0;}
    .card-form-pag {margin-bottom: 1em;}

    /* POLÍTICA DE ENTREGA */
    .sct-info-pe .list-pe {padding: 1em 1em 0;}
    
    /* CAMBIOS Y DEVOLUCIONES */
    .content-descp-cd,
    .sct-check-cd {padding-top: 2em;}
    .check-cd {margin-bottom: 2em;}

    /* accordion*/
    .accordion {margin-bottom: 1em;}
    .accordion .accordion-heading {
        font-size: .9em;
        padding: 1.25em 1em 1.25em 0em;
    }
    .accordion .accordion-heading .flecha-accord {
        right: 0;
        top: auto;
    }
    .accordion li .accordion-content {
        width: 100%;
        padding: 0 0 .5em 0em;
    }
}

@media screen and (max-width: 576px) {
    /* GLOBAL */
    .col-2,
    .col-3 {
        width: 100%;
        margin-bottom: 0;
    }

    .section-otros {
        position: relative;
        padding: 3em 0;
        overflow: hidden;
    }

    .breadcrumb {margin-bottom: .5em;}
    .breadcrumb span {font: 0.7em 'montserratbold';}

    .sct-values .content-card-repeat {
        width: 100%;
    }
    .sct-tabs-services .nav-tabs .item-tabs {
        margin-right: 5em;
    }

    /* HEADER - Buscar */
    .search .form__label {transform: translate(-22%, 0%);}

    /* SLIDER */
    .slider--arrows .slick-arrow {
        top: 20%;
        width: 30px;
        height: 30px;
        background-color: #f3f3f3;
    }
    .slider--arrows .slick-arrow span {font-size: .65em;}

    .ofertas-mes {padding: 1.5em 0 2.5em;}
    .productos-destacados {padding: 1.5em 0 2.5em;}
    .productos-destacados--heading .tabs {margin-top: .75em;}

    /* FOOTER */
    .footer .footer--top .container {padding: 0;}
    .grid-footer {padding: 1em 0 0;}
    .footer-col {flex-basis: 100%;}
    .footer .footer-col:first-child {order: 2;}
    .footer .footer-col:nth-child(2) {order: 3;}
    .footer .footer-col:nth-child(3) {order: 4;}
    .footer .footer-col:last-child {order: 1;}
    
    /* FOOTER - Newsletter */
    .newsletter {
        position: relative;
        padding-bottom: 1em;
    }
    .newsletter--heading i {
        position: absolute;
        bottom: 15%;
        left: 2.5%;

        font-size: 2em;
    }
    .newsletter--heading__caption {
        margin: 0 auto;
        text-align: center;
    }
    .newsletter--heading__caption h5 {
        font-size: .75em;
        margin-bottom: .5em;
    }
    .newsletter--heading__caption p {
        width: 62%;
        margin: 0 auto 1em;
        font-size: .55em;
        line-height: 1.3;
    }

    .newsletter--form {
        width: 100%;
        display: inline-flex;
        justify-content: flex-end;
        padding-right: 10px;
    }
    .newsletter--form .form__wrapper {width: 62%;}
    .newsletter--form button {
        width: 25%;
        font-size: .6em;
    }
    .newsletter .form__input {height: 1.85em;}

    /* Footer Cols */
    .footer ul {margin-bottom: 0;}
    .footer-list {display: none;}
    .footer-col h5 {
        width: 100%;
        margin: 0;
        padding: 1em 1.5em;

        font: .8em 'montserratbold';
    }
    .footer-col:not(:last-child) h5 {border-top: 1px solid #434850;}
    .footer-listIcon h5 i {font-size: 1.75em;}
    .footer-col:first-child h5 i {
        display: inline-block;
        margin-right: 12px;
        font-size: 1.1em;
        transition: .5s all;
    }
    .footer-col:first-child h5 i.active {transform: rotate(90deg);}
    .footer-col:first-child ul {
        border-top: 1px solid #434850;
        padding: .75em 3.25em;
    }
    .footer-col:first-child ul li {
        color: rgba(255, 255, 255, 0.7);
        list-style: square;
    }
    .footer-col:nth-child(2) h5 {padding: 1em 3.75em;}
    .footer-col:nth-child(4) h5 {padding: 1em 1.5em 0.5em;}

    /* CARRITO DE COMPRAS */
    /* Carrito de Compras */
    .tableCarrito {margin-bottom: 1em;}
    .tableCarrito-head {display: none;}
    .tableCarrito--row {padding: .75em 0;}
    .tableCarrito--row:first-child {border-top: 1px solid rgba(104, 113, 125, 0.2);}
    .tableCarrito--row__image {flex-basis: 30%;}
    .tableCarrito--row__caption {
        position: relative;
        align-items: flex-start;
        flex-basis: 70%;
        flex-direction: column;
    }
    .tableCarrito-body .producto p,
    .tableCarrito-body .producto span,
    .tableCarrito-body .precioUnitario span {font-size: .75em;}
    .tableCarrito-body .cantidad {order: 3;}
    .tableCarrito-body .cantidad .amount-buy .number {width: 65%;}
    .tableCarrito-body .cantidad .amount-buy .number .minus,
    .tableCarrito-body .cantidad .amount-buy .number .plus {
        padding: .45em 0;
        border: 1px solid rgba(67, 72, 80, 0.3);
    }
    .tableCarrito-body .cantidad .amount-buy .number input {
        font-size: 14px;
        border-top: 1px solid rgba(67, 72, 80, 0.3);
        border-bottom: 1px solid rgba(67, 72, 80, 0.3);
    }
    .tableCarrito-body .precioUnitario {display: none;}
    .tableCarrito-body .subtotal {
        margin: .5em 0 .75em;
        order: 2;
    }
    .tableCarrito-body .borrar {
        position: absolute;
        right: 5%;
        bottom: 5%;
    }
    .tableCarrito-body .borrar .btn-borrar i {font-size: 1.5em;}

    /* Carrito de compras - Formularios */
    .datepicker .ui-datepicker td {padding: 4px;}
    .carritoCompras .box-form.col-3,
    .carritoCompras .box-form.col-2:first-child {border-bottom: 1px solid rgba(67, 72, 80, 0.5);}
    .box-form .cupon-descuento .form__wrapper {width: 100%;}
    .box-form .cupon-descuento .form__label {font-family: 'montserratbold';}
    .cupon-descuento .btn-validar {padding: .5em 1em;}

    /* Total a Pagar */
    .carritoCompras--aside .precioTotal {font-size: 2em;}
    .carritoCompras--aside .terminos-politica {
        margin-top: 1em;
        padding: 0 1em .5em;
    }
    .carritoCompras--aside .terminos-politica span {font-size: .8em;}
    .carritoCompras--aside button {
        font-size: 1.5em;
        padding: .35em 1em;
    }
    .carritoCompras--aside .btn-seguir {
        padding: 1em 0;
        font: .8em 'montserratextrabold';
    }

    /* CATEGORÍAS INTERNA */
    .categorias-productos .col-3 {width: 50%;}
    .categorias-productos .productos--heading {flex-direction: column;}
    .categorias-productos .form .form__wrapper {width: 100%;}

    /* DETALLE PRODUCTO */
    .comprarFixed {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

        padding: 1em 0;
        font-size: 1em;
        box-shadow: 0px 0px 10px 0px rgba(2, 3, 0, 0.6);
        z-index: 2;
    }
    .comprarFixed i {font-size: 1.5em;}

    /* SERVICIOS */
    .sct-tabs-services .nav-tabs .item-tabs {
        width: 15%;
        margin-top: 1em;
    }
    .sct-tabs-services .nav-tabs .content-card-repeat {width: 8em;}
    .sct-tabs-services .content-card-repeat .ttl-tab {
        margin-top: 1em;
        font-size: .6em;
    }

    /* NOSOTROS */
    .sct-intro-us {padding: 2em 0;}
    .sct-values {padding: 2em 0;}
    .sct-values .card-values {margin-top: 1em;}
    .sct-values .content-card-repeat .content-icon-card .icon-tabs {font-size: 6em;}
    .sct-values .content-card-repeat .content-icon-card {
        height: auto;
        padding: 2em 0;
    }
    .sct-values .content-card-repeat .content-icon-card .icon-tabs {font-size: 6em;}
    .sct-intro-us .text-us {
        margin-bottom: 2em;
        font-size: 1.1em;
        line-height: 1.25;
    }
    .sct-mv .content-div-mv .content-dscrip-mv {
        height: auto;
        padding: 1em 1em 2em;
    }
    .sct-mv .content-div-mv .content-dscrip-mv .p-internas {width: 100%;}

    /* COMPRA REALIZADA */
    .compraRealizada .col-3 {width: 50%;}

    /* CONTACTO - lIBRO */
    .sct-form-contact .p-form,
    .form-libro-reclamos .dscrp-lr {margin: 2em 0;}

    .sct-form-contact,
    .form-libro-reclamos {margin-bottom: 2em;}

    .form-libro-reclamos .dscrp-lr {padding: 0 .25em;}
}

@media screen and (max-width: 425px) {
    /* GLOBAL */
    .titles-big {
        font-size: 1.5em;
    }
    .h3 {margin-bottom: .75em;}
    /* Breadcrumb */
    .breadcrumb span {font-size: 0.6em;}

    /* HEADER */
    .header .head--left,
    .header .head--right {flex-basis: 14%;}
    .header .head--center {flex-basis: 0;}
    .header .head--left {justify-content: flex-start;}
    .header .head--right {justify-content: flex-end;}
    .header .head--left .phone,
    .header .head--left .email {margin-left: 16px;}

    .navbar {padding-top: 9em;}
    .navbar--categorias,
    .navbar--item {font-size: 1.0625em;}

    /* HEADER - Buscar */
    .search .form__label {transform: translate(-30%, 0%);}
    .search .form__input:focus ~ .form__label {transform: translate(-24%, 0%);}

    /* PRODUCTOS DESTACADOS */
    .productos-destacados .tab-content {min-height: 280px;}

    /* DETALLE PRODUCTO */
    .detalleProducto-info .colorOptions {top: 10px;}

    /* SERVICIOS */
    .sct-tabs-services .nav-tabs .item-tabs {width: 10%;}
    .sct-tabs-services .nav-tabs .content-card-repeat {width: 6em;}
    .content-card-repeat .ttl-tab {
        font-size: .95em;
        margin-bottom: 1em;
    }
    .sct-tabs-services .tabpanel--caption {padding: 2em 3em;}

    /* COMPRA REALIZADA */
    .compraRealizada .col-3 {width: 100%;}
    /*.compraRealizada .col-3:first-child {order: 2;}
    .compraRealizada .col-3:nth-child(2) {order: 3;}
    .compraRealizada .col-3:last-child {order: 1;}
    .compraRealizada--grid .col-2 {text-align: center;}*/
    .compraRealizada .btn {
        font-size: 1.2em;
        padding: .5rem 1rem;
    }
}

@media screen and (max-width: 360px) {
    /* GLOBAL */

    /* PRODUCTOS DESTACADOS */
    .productos-destacados .tab-content {min-height: 230px;}

    /* sucursales */
}

@media screen and (max-width: 320px) {
    /* GLOBAL */
}